<div class="col-sm-12">

	<div class="panel panel-default top-gap">

		<div class="panel-heading">
			<%= application_service_connector.title %>
			<small>
				<br>
				<%= application_service_connector.description %>
				(<%= application_service_connector.publisher_namespace.to_s + ":" + application_service_connector.type_path.to_s%>)
				<br>
			</small>
		</div>

		<div class="panel-body">
			<% select_collection = [ [:new, "Create new application service"] ]
				if application_service_connector.connectable_active_connected_services.present?
				  select_collection << [:active, "Use existing active application service"]
				end
				if application_service_connector.connectable_orphan_connected_services.present?
				  select_collection << [:orphan, "Use existing orphaned application service"]
			    end
			%>
			<div class="application_service_select_create_type">
				<div class="col-sm-12">
					<%= render 'shared/form/radio_buttons', f: f, name: :create_type, label: false,
							select_collection: select_collection, value_method: :first, text_method: :last,
							field_class: "application_service_select_create_type_radios" %>
				</div>
			</div>
			
			<% if application_service_connector.connectable_active_connected_services.present? %>
				<div class="application_service_active_configure">
					<div class="col-sm-12">
						<%= render 'shared/form/select', f: f, name: :active_service, label: "Active application service",
								select_collection: application_service_connector.connectable_active_connected_services,
								select_class: "application_service_active_configure_select" %>
					</div>
				</div>
				
			<% end %>

			<% if application_service_connector.connectable_orphan_connected_services.present? %>

				<div class="application_service_orphan_configure">
					<div class="col-sm-12">
						<%= render 'shared/form/select', f: f, name: :orphan_service, label: "Orphaned application service",
						select_collection: application_service_connector.connectable_orphan_connected_services,
								select_class: "application_service_orphan_configure_select" %> 
					</div>
				</div>

			<% end %>
	
			<div class="application_service_cancel" style="display: none;">
				<div class="col-sm-12 clearfix">
					<%= link_to content_tag(:i, nil, class:"fa fa-times") + " Cancel", "javascript:;",
						class: "btn btn-default btn-lg pull-right application_service_cancel_button" %>
				</div>
			</div>

		</div>
	</div>
</div>



