<% if node.present?
     top_level = true if top_level.nil?
 %>
  <ul>
    <% node.children do |child_node| 
         has_children = child_node.children.present? %>
      <li style="<%= top_level ? '' : 'display: none;' %>">
        <span class="<%= has_children ? 'btn btn-lg btn-default' : 'btn-lg-placeholder' %>"><%= (content_tag(:i, nil, class: 'fa fa-caret-right') + ' ') if has_children %><%= child_node.name %></span>
        <% content = child_node.content %>
        <% if content.class == Hash %>
          <%= (ap JSON.parse(content.to_json), plain: true, index: false).html_safe %>
        <% else %>
          <div style="height: 20px;">&nbsp</div> <!-- <pre class="well"><%= content %></pre> -->
        <% end %>
        <% if has_children %>
          <%= render 'tree_node', node: child_node, top_level: false %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>