<h1>Services#index</h1>
<%= link_to 'Back', welcome_index_path %>
<table>
    
    
<% @services.each do |service| %>
<%
state = service.read_state
 # faster than querying the docker api 5 times
%>
<tr>    
    <td><%=service.containerName %></td> 
    <td><a href=http://<%=service.fqdn %>><%=service.fqdn %></a></td>
    <td><%=service.setState %></td>
    <td><%=state %></td>    
    
    <td><%= link_to 'Show', service_path(service.containerName) %></td>
    <% 
        if state == "running" && service.containerName != 'mgmt'  #FIXME use flag instead
            %> <td><%= link_to 'Stop', stop_service_path(service.containerName) %> <%= link_to 'Pause', pause_service_path(service.containerName) %> </td> <%
        elsif state == "paused"
            %> <td><%= link_to 'Unpause', unpause_service_path(service.containerName) %></td> <%
        elsif state == "stopped" 
            %> <td> <%= link_to 'Start', start_service_path(service.containerName) %>  <%= link_to 'Recreate', recreate_service_path(service.containerName) %>  
            </td> 
        
    <%  end %>
    </tr>
<%end%>
</table>
