<div class="col-sm-12">
	<div class="pull-right">
		<%= link_to content_tag(:i , nil, class: 'fa fa-edit') + ' Edit', edit_application_services_path(application_service.identification_params), class: 'btn btn-default btn-noborder btn-lg trigger-response-modal', title: 'Edit record' %>
		<%= link_to content_tag(:i , nil, class: 'fa fa-trash') + ' Delete', application_services_path(application_service.identification_params), method: :delete, class: 'btn btn-default btn-noborder btn-lg', data: { confirmdetail: "Are you sure that you want to delete #{application_service.title}?", confirm: 'Confirm delete' }, title: 'Delete' %>


		<% if application_service.persistant %>
		<div class="btn-group dropdown">

			<button class="btn btn-lg btn-default btn-noborder dropdown-toggle" type="button" data-toggle="dropdown">
				<%= content_tag(:i, "", class: "fa fa-arrows-h") + " Connect" %>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu dropdown-menu-right" role="menu">
				<% if application_service.available_subservices.present? %>

				<% application_service.available_subservices.each do |available_subservice| %>
				<li>
					<%= link_to(
					available_subservice[:title],
					new_application_subservice_path(
					application_subservice: {
					application_name: application_service.application.container_name,
					parent_service_handle: application_service.service_handle,
					parent_publisher_namespace: application_service.publisher_namespace,
					parent_type_path: application_service.type_path,
					parent_title: application_service.title,
					type_path: available_subservice[:type_path],
					publisher_namespace: available_subservice[:publisher_namespace]
					}
					),
					class: "btn-lg trigger-response-modal") %>

				</li>
				<% end %>
				<% else %>
				<li>
					<div class="btn-lg">None available</div>
				</li>
				<% end %>

			</ul>

		</div>
		
			<%#= application_service.application_subservices.size %>
		
		
			<% application_service.application_subservices.each do |application_subservice| %>
				<%= application_subservice.to_json %>
			<% end %>
		
		<% else %>
		
		<div class="btn-group dropdown">
		
			<button class="btn btn-lg btn-noborder btn-default dropdown-toggle" type="button" data-toggle="dropdown">
				<%= content_tag(:i, "", class: "fa fa-crosshairs") + " Actions" %>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu dropdown-menu-right" role="menu">
		
				<% [:register, :deregister, :reregister].each do |service_action| %>
				<li>
					<%= link_to(
					service_action.to_s.titleize,
					action_application_services_path(
					application_name: @application_services_properties.application.container_name,
					application_service: {
					service_action: service_action,
						type_path: application_service.type_path,
						publisher_namespace: application_service.publisher_namespace,
						service_handle: application_service.service_handle
						}
					),
					class: "btn-lg trigger-response-modal") %>
				</li>
				<% end %>
		
			</ul>
		</div>
		
		<% end %>

	</div>
</div>


<% if application_service.variables.present? %>
	<% application_service.variables.each do |variable|%>
		<%  value = variable.value
			if variable.field_type.include? 'password'
		      value = value.to_s.length.times.map{ '*' }.join()
		   	end
		 %>
		 <%= render partial: 'shared/show/label_and_text', locals: {label: variable.label, text: value} %>
	<% end %>
<% else %>
	Unable to load variables. Check that service is running.
<% end %>



<%= ap(application_service.variable_definitions, plain: true, index: false).html_safe %>
<%= ap(application_service.attached_service_hash, plain: true, index: false).html_safe %>
