<% if application_service.persistant %>

	<% if application_service.available_subservices.present? %>
	
	<div class="dropdown pull-right">
	
		<button class="btn btn-lg btn-default dropdown-toggle" type="button" data-toggle="dropdown">
			<%= content_tag(:i, "", class: "fa fa-plus-circle") + " Attach subservice" %>
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<% application_service.available_subservices.each do |available_subservice| %>
			<li>
				<%= link_to(
				available_subservice[:title],
				new_application_subservice_path(
					application_subservice: {
						application_name: application_service.application_name,
						parent_service_handle: application_service.service_handle,
						parent_title: application_service.title,
						type_path: available_subservice[:type_path],
						publisher_namespace: available_subservice[:publisher_namespace]
					}
				),
				class: "btn-lg trigger-response-modal") %>
	
			</li>
			<% end %>
	
		</ul>
	</div>
	
	<% else %>
		There are no subservices available for this service.
	<% end %>

	<%= @application.attached_services_hash #.each do |attached_subservice|
	 %>
	

<% else %>

<div class="dropdown pull-right">

	<button class="btn btn-lg btn-default dropdown-toggle" type="button" data-toggle="dropdown">
		<%= content_tag(:i, "", class: "fa fa-crosshairs") + " Actions" %>
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">

		<% if false # [:remove, :register, :deregister, :reregister].each do |service_action| %>
		<li>
			<%= link_to(
			service_action.to_s.titleize,
			registration_attached_services_path(
			application_name: @services_properties.application_name,
			service_action: service_action,
			service: {
			type_path: application_service.type_path,
			publisher_namespace: application_service.publisher_namespace,
			parent_engine: @services_properties.application_name,
			service_handle: application_service.service_handle
			}
			),
			class: "btn-lg trigger-response-modal") %>
		</li>
		<% end %>

	</ul>
</div>

<% end %>