<div class="">

<%= edit_params = {
        application_name: @application_services_properties.application.container_name,
        application_service: {
        	type_path: application_service[:type_path],
        	publisher_namespace: application_service[:publisher_namespace]
                   }
    			 } if false %>

	<div class="pull-right">
		<%= link_to content_tag(:i , nil, class: 'fa fa-edit') + ' Edit', edit_application_services_path(application_service.identification_params), class: 'btn btn-default btn-noborder btn-lg trigger-response-modal', title: 'Edit record' %>
		<%= link_to content_tag(:i , nil, class: 'fa fa-trash') + ' Delete', application_services_path(application_service.identification_params), method: :delete, class: 'btn btn-default btn-noborder btn-lg', data: { confirmdetail: "Are you sure that you want to delete #{application_service.title}?", confirm: 'Confirm delete' }, title: 'Delete' %>


		<% if application_service.persistant %>
		
			<% if application_service.available_subservices.present? %>
				<div class="btn-group dropdown">			
					
					
						<button class="btn btn-lg btn-default btn-noborder dropdown-toggle" type="button" data-toggle="dropdown">
							<%= content_tag(:i, "", class: "fa fa-arrows-h") + " Connect" %>
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<% application_service.available_subservices.each do |available_subservice| %>
							<li>
								<%= link_to(
								available_subservice[:title],
								new_application_subservice_path(
									application_subservice: {
										application_name: application_service.application.container_name,
										parent_service_handle: application_service.service_handle,
										parent_publisher_namespace: application_service.publisher_namespace,
										parent_type_path: application_service.type_path,
										parent_title: application_service.title,
										type_path: available_subservice[:type_path],
										publisher_namespace: available_subservice[:publisher_namespace]
									}
								),
								class: "btn-lg trigger-response-modal") %>
					
							</li>
							<% end %>
					
						</ul>
					
				</div>			
			<% else %>
				There are no subservices available for this service.
			<% end %>
		
			<%#= application_service.application_subservices.size %>
		
		
			<% application_service.application_subservices.each do |application_subservice| %>
				<%= application_subservice.to_json %>
			<% end %>
		
		<% else %>
		
		<div class="btn-group dropdown">
		
			<button class="btn btn-lg btn-noborder btn-default dropdown-toggle" type="button" data-toggle="dropdown">
				<%= content_tag(:i, "", class: "fa fa-crosshairs") + " Actions" %>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
		
				<% if false # [:remove, :register, :deregister, :reregister].each do |service_action| %>
				<li>
					<%= link_to(
					service_action.to_s.titleize,
					registration_attached_services_path(
					application_name: @application_services_properties.application_name,
					service_action: service_action,
					service: {
					type_path: application_service.type_path,
					publisher_namespace: application_service.publisher_namespace,
					parent_engine: @application_services_properties.application_name,
					service_handle: application_service.service_handle
					}
					),
					class: "btn-lg trigger-response-modal") %>
				</li>
				<% end %>
		
			</ul>
		</div>
		
		<% end %>

	</div>

	<%= application_service.title %>

	<p><small>
		<%= application_service.description %>
		(<%= application_service.publisher_namespace.to_s + " " + application_service.type_path.to_s%>)
	</small></p>

</div>
