<div class="col-sm-12">

	<div class="pull-right">
		<% unless application_service.existing_connection.service_detail.immutable %>
			<%= link_to content_tag(:i , nil, class: 'fa fa-edit') + ' Edit',
				edit_application_service_path(application_service.edit_connection_params),
				class: 'btn btn-default btn-noborder btn-lg trigger-response-modal', title: 'Edit record' %>
		<% end %>
		<%= link_to content_tag(:i , nil, class: 'fa fa-trash') + ' Delete',
				application_service_path(application_service.edit_connection_params),
				method: :delete, class: 'btn btn-default btn-noborder btn-lg',
				data: { confirmdetail: "Are you sure that you want to delete #{application_service.existing_connection.service_detail.title}?", confirm: 'Confirm delete' }, title: 'Delete' %>
		<% if application_service.existing_connection.service_detail.persistant %>
		<div class="btn-group dropdown">

			<button class="btn btn-lg btn-default btn-noborder dropdown-toggle" type="button" data-toggle="dropdown">
				<%= content_tag(:i, "", class: "fa fa-arrows-h") + " Connect" %>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu dropdown-menu-right" role="menu">
				<li class="dropdown-header">Please note: Interconnection of services<br>is a feature that is still under development.</li>

				<% if application_service.existing_connection.available_subservices.present? %>
					<% application_service.existing_connection.available_subservices.each do |available_subservice| %>
						<%#= available_subservice.application_service_connection.connection_params %>
						<%#= available_subservice.new_subservice_connection_params %>
						<li>
							<%= link_to(
							fa(available_subservice.fa_icon) + ' ' + available_subservice.title,
							new_application_service_connection_subservice_connector_configuration_path(
								application_service_connection_subservice_connector_configuration: {
									application_name: application_service.application.container_name,
									application_service_connection_params: available_subservice.application_service_connection.connection_params,
									type_path: available_subservice.type_path,
									publisher_namespace: available_subservice.publisher_namespace
								}
							),
							class: "btn-lg trigger-response-modal") %>
						</li>
					<% end %>
				<% else %>
				<li>
					<div class="btn-lg">None available</div>
				</li>
				<% end %>
			</ul>
		</div>

			<%#= application_service.application_subservices.size %>


			<% application_service.existing_connection.existing_subservices.each do |existing_subservice| %>
				<%= application_subservice.to_json %>
			<% end %>

		<% else %>

		<div class="btn-group dropdown">

			<button class="btn btn-lg btn-noborder btn-default dropdown-toggle" type="button" data-toggle="dropdown">
				<%= content_tag(:i, "", class: "fa fa-crosshairs") + " Actions" %>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu dropdown-menu-right" role="menu">

				<% [:register, :deregister, :reregister].each do |service_action| %>
				<li>
					<%= link_to(
					service_action.to_s.titleize,
					action_application_service_path(
					application_name: application_service.application.container_name,
					application_service: {
						service_action: service_action,
						connection_params: application_service.connection_params
						}
					),
					class: "btn-lg trigger-response-modal") %>
				</li>
				<% end %>

			</ul>
		</div>

		<% end %>

	</div>
</div>


<% if application_service.variables.present? %>
	<% application_service.variables.each do |variable|%>
		<%  value = variable.value
			if variable.field_type.include? 'password'
		      value = value.to_s.length.times.map{ '*' }.join()
		   	end
		 %>
		 <%= render partial: 'shared/show/label_and_text', locals: {label: variable.label, text: value} %>
	<% end %>
<% else %>
	Unable to load variables. Check that service is running.
<% end %>
