<div class='home_page_app_gadget' title='<%= [@application.application_display_properties.title, @application.application_display_properties.detail].reject(&:blank?).join(' - ') %>'>
	<a class="btn btn-default btn-launcher" href="<%= @application.primary_web_site %>" target="<%= @application.container_name %>">
	<div class="launcher_icon_and_label_holder">
	  	<div class="launcher_icon_holder_center">
			<div class="launcher_icon_holder">
				<%= image_tag(@application.application_display_properties.icon_url, class: "launcher-icon", alt: "", title: @application.application_display_properties.detail) %>
			</div>
	  	</div>
		<div class="launcher-label" style="color: <%= @desktop_settings.icon_text_color %>;">
			<%= content_tag(:i, "", class: "fa fa-exclamation-triangle indicator_stopped") if @application.state != "running" %>
			<%= @application.application_display_properties.title || @application.container_name %>
		</div>
	</div> </a>
</div>