<% engine_name = @software.engine_name %>

<div class="col-sm-12 top-gap">

  <h2><i class='fa fa-share-alt'></i> Attach services to <%= @software.engine_name %></h2>
  <%= link_to content_tag(:i, "", class: "fa fa-arrow-left") + ' Back', control_panel_path, class: "btn btn-warning btn-lg trigger-response-modal" %>

<p>
<%= (ap @available_services, index: false, plain: true).html_safe %>
</p>

  <legend class="top-gap"><i class="fa fa-circle"></i> Software services</legend>
  <% @available_services[:services].each do |service| %>
    <% if service[:accepts].present? && service[:accepts].include?("ManagedEngine") %>
      <label><%= service[:title] %></label>
      <br>
    <% end %>
  <% end %>

  <% @available_services[:components].each do |k,available_services| %>
    <legend class="top-gap"><i class="fa fa-circle-o"></i> <%= k.to_s.singularize.capitalize + "  services" %></legend>
    <%= form_for "stuff" do |f| %>
      <% if k == :volumes %>
        <% component_names = @volumes %>
        <% label = 'Volume' %>
      <% elsif k == :databases %>
        <% component_names = @databases %>
        <% label = 'Database' %>
      <% end %>
      <% available_service_names = available_services.map{|service| [service[:title], service[:service_name]]} %>
      <%= render partial: 'shared/form/select', locals: {name: :component, value: '', collection: component_names, label: label, f: f, include_blank: true} %>
      <%= render partial: 'shared/form/select', locals: {name: :service, value: '', collection: available_service_names, label: 'Service', f: f, id: "attached_services_select_service_input_for_#{k}", attach_selectize: false, include_blank: true} %>

      <% available_services.each do |available_service| %>
        <% next if ( available_service.nil? || available_service[:setup_params].nil? ) %>
        <div id="attached_services_service_setup_parameters_for_<%= available_service[:service_name] %>">

          <%= f.fields_for :setup_params do |ff| %>

            <% available_service[:setup_params].each do |k,setup_parameter| %>
                <%= render partial: 'attached_services/setup_parameter_field', locals: {name: setup_parameter[:name], f: ff} %>
            <% end %>

          <% end %>
        </div> 
      <% end %>

      <%= render partial: 'shared/form/submit_button', locals: {f: f, submit_label: 'Attach'} %>
    <% end %>
  <% end %>

</div>
