
<strong>Required</strong>
<p>
	<%= @error_mesg %>
	<p>
<%= @blueprint["software"] %>
		</p>
		<%  license_name = @blueprint["software"]["license_name"] %>
		  <% license_url = @blueprint["software"]["license_sourceurl"] %>
		  <table>
		<%= form_tag do %>

           <tr>        
				<td>
					Agree to Licence <a href=<%= license_url %>><%= license_name %></a>
				</td>
				<td>
					
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<strong>Host name Settings</strong
				</td>
			</tr>
				
			<tr>
				<td>
					Hostname Name
				</td>
				<td>
					
				</td>				
			</tr>
			<tr>
				<td>
					Domain Name
				</td>
				<td>
					
				</td>
			</tr>
			<tr>
				<td>
					<strong>Environmet Variables</strong>
				</td>
			</tr>
			<tr>
				<td>
					<strong>Advanced Options</strong>
				</td>
			</tr>
			<tr>
				<td>
					Memory
				</td>
				<td>
					
				</td>
			</tr>
			<tr>
				<td>
					Self Starts
				</td>
				<td>
					
				</td>
			</tr>
			<tr>
				<td>
					<strong>Database Settings</strong>
				</td>
			</tr>
			<tr>
				<td>
					Database Host
				</td>
				<td>
					
				</td>
			</tr>
			<tr>
				<td>
					Database Name
				</td>
				<td>
					
				</td>
			</tr>			
			<tr>
				<td>
					Database User
				</td>
				<td>
					
				</td>
			</tr>	
			<tr>
				<td>
					Database User Password
				</td>
				<td>
					
				</td>
			</tr>	
			<tr>
				<td>
					<strong>Volume Settings</strong>
				</td>
			</tr>
			<tr>
				<td>
					
				</td>
				<td>
					
				</td>
				<td>
					
				</td>
			</tr>
			<tr>
				<td>
					<strong>DNS </strong>
				</td>
			</tr>
			<tr>
				<td>
					Enable Monitor
				</td>
				<td>
					
				</td>				
			</tr>
			<tr>
				<td>
					Register DNS
				</td>
			</tr>
			<tr>
				<td>
					<strong>Web Protect</strong>
				</td>
				
			</tr>
			<tr>
				<td>
					User
				</td>
				<td>
					
				</td>
				<td>
					Add New User
				</td>
			</tr>
				<tr>
				<td>
					Group
				</td>
				<td>
					
				</td>
				<td>
					Add New Group
				</td>
			</tr>		
			<tr>
				<td>
					<strong>Firewall</strong>
				</td>
				
			</tr>
			<tr>
				<td>Configured Subnets/hosts</td>
				<td></td>
			</tr>
					<tr>
				<td>New Subnet or host</td>
				<td></td>
				<td>Add</td>
			</tr>	
	
	<% end %>  
