
<table>
<tr>
	<td><%= @gallery.title %></td>
	<td><%= @gallery.blueprints_url %></td>
	<td><%= @blueprints.length %>Blueprints</td>
</tr>

<%	@blueprints.each do |blueprint|  %>
<tr>
	<% gallery_name=@gallery.short_name
	  short_name = blueprint["short_name"]
	 name = blueprint["full_name"]
	 home_page =  blueprint["home_page"]
	 image_url =  blueprint["image_url"]
	 %>
	 <td>
	 <img src=<%=image_url%>>
	 </td>
	 <td><%=name%></td>
	 <td><a href=<%=home_page%>><%=home_page%></a></td>:foo => "bar", :baz => "quux"
	 <td>	<td><%= link_to 'Install', install_blueprint_gallery_path({galleryname,  :short_name => "blueprint"}) %></td></td>
</tr>
<%end%>
</table>
