<div class="col-sm-12">
  <h2 class="control-panel-title"><i class="fa fa-gear"></i> Settings</h2>

  <%= form_for @system_config, html: {multipart: true } do |f| %>

    <%= f.label :wallpaper, class: "top-gap" %><br>
    <%= f.check_box :delete_wallpaper %> <%= f.label :delete %><br>
    <%= f.file_field :wallpaper %>

    <div class="actions top-gap">
      <%= button_tag(type: "submit", class: "btn btn-lg btn-primary") do %>
        <%= content_tag(:i, "", class: "fa fa-check") + " Save" %>
      <% end %>
    </div>

  <% end %>

</div>