<div class="col-sm-12 top-gap">
  <h3 class="control-panel-title"><i class="fa fa-picture-o"></i> Wallpaper</h3>

    <%= simple_form_for @system_config, html: {class: "form-horizontal"} do |f| %>

    <fieldset>
      <div class="form-group form-group-lg">
        <div class="col-sm-12">
          <% if f.object.wallpaper.present? %>
            <%= f.check_box :delete_wallpaper %> <%= f.label 'Remove wallpaper' %><br>
          <% end %>
        </div>
        <div class="col-sm-12">
          <%= f.label 'Change wallpaper', class: 'top-gap' %>
          <%= f.file_field :wallpaper, class: 'form-control input-lg choose_file_form_control' %>
        </div>
      </div>
    </fieldset>

    <div class="actions top-gap">
      <%= link_to((content_tag(:i, "", class: "fa fa-times") + " Cancel"), settings_path, class: "btn btn-lg btn-warning trigger-response-modal") %>
      <%= button_tag(type: "submit", class: "btn btn-lg btn-primary trigger-response-modal pull-right") do %>
        <%= content_tag(:i, "", class: "fa fa-check") + " Save" %>
      <% end %>
    </div>

  <% end %>

</div>