<div class="col-sm-12 top-gap">
  <h3 class="control-panel-title"><i class="fa fa-globe"></i> Add hosted domain</h3>

  <%= simple_form_for @hosted_domain, html: {class: "form-horizontal"} do |f| %>
    <fieldset>
      <%= render partial: 'shared/gadgets/form_field_inline', locals: {field: {name: :domain_name, label: 'Domain'}, f: f} %>
      <%= f.check_box :internal_only %>
      <%= label_tag :internal_only %>
    </fieldset>

    <div class="actions top-gap">
      <%= link_to((content_tag(:i, "", class: "fa fa-times") + " Cancel"), hosted_domains_path, class: "btn btn-lg btn-warning trigger-response-modal") %>
      <%= button_tag(type: "submit", class: "btn btn-lg btn-primary trigger-response-modal pull-right") do %>
        <%= content_tag(:i, "", class: "fa fa-check") + " Save" %>
      <% end %>
    </div>

  <% end %>

</div>