<div class="home_page_app_gadget">
  <div class="dropdown">
    <div type="button" data-toggle="dropdown" aria-expanded="true"type="button" id="home_menu">
      <a class="btn btn-default btn-launcher dropdown-toggle" data-toggle="tooltip" title="Menu">
        <div class= "launcher_icon_and_label_holder">
          <%= image_tag("engines_icon_white.png", class: "fa-launcher launcher-icon") %>
        </div>
      </a>
    </div>
    <ul class="dropdown-menu">
		  <li>
		      <a href=<%= control_panel_path %> class="trigger-response-modal">
		          <i class="fa fa-gears"></i> Control panel
		      </a>
		  </li>
		  <li>
		      <a href=<%= installer_path %> class="trigger-response-modal">
		          <i class="fa fa-plus"></i> Installer
		      </a>
		  </li>
		  <li>
		      <a href=<%= destroy_user_session_path %> data-method="delete" class="trigger-response-modal" data-toggle="tooltip" title="Sign out <%= current_user.username %>">
		          <i class="fa fa-sign-out"></i> Sign out  <%= current_user.username %>
		      </a>
		  </li>
    </ul>
  </div>
</div>