<div class="installer row">

		<div class="col-sm-6 top-gap bring-forward pull-right">
			<%= render 'installer_actions' %>
		</div>
	
		<div class="col-sm-6">
			<h2> <%= content_tag(:i, "", class: "fa fa-play-circle-o") %> Installer</h2>
			<%= link_to content_tag(:i, "", class: "fa fa-arrow-left") + ' Back', control_panel_path, class: "btn btn-warning btn-lg trigger-response-modal" %>
		</div>

</div>

<div class="installer row">

    <%= form_tag installer_path(), method: 'get' do %>
        <%= hidden_field_tag :tags, params[:tags] %>
	    <%= hidden_field_tag :library_id, @library.id %>

		<div class="col-md-3 top-gap">
	  		<%= render 'library_select' %>
		</div>
		<div class="col-md-1 top-gap">
            <div id="installer_find_button" class="">
          	  <button type="submit" class="hidden">
	            <i class="fa fa-search"></i>
	          </button>
            </div>

            <div id="find_by_tags_list_loader" class="hidden" data-libraryid="<%= @library.id %>"></div>
            <div id="find_button_when_tags_present" style="display:none;">
            	<div class="dropdown">
	          	  <button type="button" class="btn btn-lg btn-default dropdown-toggle" data-toggle="dropdown">
		            <i class="fa fa-filter"></i>
		          </button>
	              <ul class="dropdown-menu">
	                <li>
	                  <%= submit_tag 'All', class: "btn-lg trigger-response-modal find_by_dropdown_submit_button" %>
	                </li>
	                <div id="find_by_tags_list_holder"></div>
	              </ul>
				</div>
			</div>

	    </div>
		<div class="col-md-8 top-gap">
	        <%= text_field_tag :search, params[:search], placeholder: "search", class: 'form-control input-lg',
							onfocus: "this.select();", autofocus: true %>
		</div>
          
	<% end %>
	
	<div class="col-sm-12">
		<% if (params[:tags] != 'All' || params[:search].present?) %>

            <div id="search_result_summary_when_tags_present" style="display:none;">
		  		<%= params[:tags] %> software <%= (" - search '#{params[:search]}'") if params[:search].present? %>
		    </div>
		    
			<div class="col-sm-12">
			  	<h3>
					<span id="search_result_summary">
				  		<%= ("search '#{params[:search]}'") if params[:search].present? %>
				  	</span>
					<%= link_to content_tag(:i, nil, class: "fa fa-times"), installer_path(library_id: @library.id), title: "Clear", class: 'search-clear-button trigger-response-modal' %>
			  	</h3>
			</div>
		<% else %>
			<br>
		<% end %>
		<div id="library_software_loader" data-libraryid="<%= @library.id %>"
						data-search="<%= params[:search] %>" data-tags="<%= params[:tags] == 'All' ? nil : params[:tags] %>"
						data-page="<%= params[:page] %>">
			<div class="text-center" id="library_softwares_loading_spinner">
				<%= content_tag(:i, nil, class: "fa fa-spinner fa-spin text-center") + " Loading..."%>
			</div>
		</div>
		<div class="col-sm-12" id="library_software_holder"></div>
	</div>

</div>
