<h2> Blueprint</h2>

<%= (ap JSON.parse(@blueprint), plain: true, index: false).html_safe %>




<div class="installer row">
	<div class="col-sm-12">

		<div class="col-sm-6">
			<h2> <%= content_tag(:i, "", class: "fa fa-plus") %> Installer</h2>
			<%= link_to content_tag(:i, "", class: "fa fa-arrow-left") + ' Back', control_panel_path, class: "btn btn-warning btn-lg trigger-response-modal" %>
		</div>

		<div class="col-sm-6 top-gap">
			<%= render 'installer_actions' %>
		</div>
	
	</div>
</div>



<div class="installer row">
	<div class="col-sm-12">
		<div class="col-md-6 top-gap clearfix pull-right">
		</div>
		<div class="col-md-6 top-gap">
		    <%= form_tag installer_path(), method: 'get' do %>
		      <div class="input-group input-group-lg">
		        <div class="input-group-addon">
		          <i class=" fa fa-search"></i>
		        </div>
		        <%= hidden_field_tag :tags, params[:tags] %>
				<%= hidden_field_tag :gallery_id, @gallery.id %>
		        <%= text_field_tag :search, params[:search], placeholder: ["search", params[:tags], "software"].compact.join(" "), class: 'form-control',
							onfocus: "this.select();", autofocus: true %>
                <%= submit_tag params[:tags], name: 'tags', class: "trigger-response-modal hidden" %>
		        <% if false # params[:search].present? %>
		          <button href="<%= installer_path(gallery_id: @gallery.id, tags: params[:tags]) %>" class="input-group-addon btn search-clear-button trigger-response-modal" 
		          	title="Clear search"><i class=" fa fa-times"></i></button>
		        <% end %>
		
  	            <div class="input-group-btn" data-toggle="dropdown">
	          	  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		            <i class="fa fa-binoculars"></i> Find by
		            <span class="caret"></span>
		          </button>
  	              <ul class="dropdown-menu">
	                <li>
	                  <%= submit_tag 'All', class: "btn-lg find_by_dropdown_submit_button" %>
	                </li>
	                <div id="find_by_tags_list_loader" class="hidden" data-galleryid="<%= @gallery.id %>"></div>
	                <div id="find_by_tags_list_holder" style="display: none;"></div>
	              </ul>
 	            </div>
		      </div>
		    <% end %>
		</div>
			
	</div>
	
	<div class="col-sm-12">
		<% if (params[:tags] != 'All' || params[:search].present?) %>
			<div class="col-sm-12">
			  	<h3>
			  		<%= params[:tags] %> software <%= (" - search '#{params[:search]}'") if params[:search].present? %>
					<%= link_to content_tag(:i, nil, class: "fa fa-times"), installer_path(gallery_id: @gallery.id), title: "Clear", class: 'search-clear-button trigger-response-modal' %>
			  	</h3>
			</div>
		<% else %>
			<br>
		<% end %>
		<div id="gallery_software_loader" data-galleryid="<%= @gallery.id %>"
						data-search="<%= params[:search] %>" data-tags="<%= params[:tags] == 'All' ? nil : params[:tags] %>"
						data-page="<%= params[:page] %>">
			<div class="text-center" id="gallery_softwares_loading_spinner">
				<%= content_tag(:i, nil, class: "fa fa-spinner fa-pulse text-center") + " Loading..."%>
			</div>
		</div>
		<div id="gallery_software_holder"></div>
	</div>

</div>
