<%  state = @service.state %>

<div class="row">
  <div class="col-sm-12">
    <table>
      <tr><td><label>name</label></td><td><%= @service.container_name %></td></tr>
      <tr><td><label>Websites</label></td><td>
      	<% @service.web_sites.each do |web_site| %>
      		<a href=http://<%= web_site %>><%= web_site %></a>
        <% end %>
      </td></tr>
      <tr><td><label>Memory</label></td><td><%= @service.memory %> MB</td></tr>
      <tr><td><label>Framework</label></td><td><%= @service.framework %>/<%= @service.runtime %></td></tr>
      <tr><td><label>Image</label></td><td><%= @service.image %> </td></tr>
      <tr><td><label>Blue print source</label></td><td><%= @service.repository %> </td></tr>
      <tr><td><label>Default state</label></td><td><%= @service.default_startup_state %></td></tr>
    </table>
    <label>Current state</label>
    <%= (ap state, plain: true, index: false).html_safe %>
  </div>

</div>

<div class="row advanced_detail">
  <div class="col-sm-12 top-gap">

    <label>Network activity</label>
    <pre><table>
      <tr><td><label>In</label></td><td><%= @service.network_metrics[:in].to_s + " bytes" %></td></tr>
      <tr><td><label>Out</label></td><td><%= @service.network_metrics[:out].to_s + " bytes" %></td></tr>
    </table></pre>

    <label>Memory usage</label>
    <pre><table>
      <tr><td><label>Current</label></td><td><%= @service.memory_statistics[:current].to_s %></td></tr>
      <tr><td><label>Maximum</label></td><td><%= @service.memory_statistics[:maximum].to_s %></td></tr>
      <tr><td><label>Limit</label></td><td><%= @service.memory_statistics[:limit].to_s %></td></tr>
    </table></pre>

    <label>Ports</label>
    <pre><table>
      <tr><td>Web port: <%= @service.port || "n/a" %></td></tr>
      <tr><td colspan=2>This port is internal to docker environ webport is always 443 and 80 externally</td></tr>
       <% if @service.eports && @service.eports.length >0 %>
         <tr><td colspan=2>Open Ports, Public ports are represented as internal:external port</td></tr>
         <% @service.eports.each do |port| %>
           <% if port != nil %>
             <tr><td><%= port.name%></td><td><%= port.port.to_s %>:<%= port.external.to_s %> <%= port.publicFacing%></td></tr>
           <%end%>
         <%end%>
       <%end%>
    </table></pre>

    <label>Last error</label>
    <pre><table><tr><td><%= @service.last_error %></td></tr></table></pre>

    <label>Environment</label>
    <% environments = @service.environments %>
    <% if environments.is_a?(Array) && environments.length > 0 %>
      <pre><table>
        <% environments.each do |v|%>
          <th>Name</th>
          <th>Value</th>
          <% if v.present? %>
            <tr>
              <td><%= v.name %></td>
              <td><%= v.value %></td>
            </tr>
          <%end%>
        <%end%>
      </table></pre>
    <% else %>
      <pre>None</pre>
    <% end %>

    <label>Volumes</label>
    <% if @service.volumes.is_a?(Array) && @service.volumes.length > 0 %>
      <pre><table>
        <% @service.volumes.each do |v|%>
           <tr>
            <td><%= v %><%#=v.localpath%>/<%#=v.name%>:<%#=v.remotepath%>/<%#=v.name%></td>
          </tr>
        <%end%>
      </table></pre>
    <% else %>
      <pre>None</pre>
    <% end %>

    <label>Consumers</label>
    <% if @service.consumers.is_a?(Array) %>
      <pre><table>
        <% @service.consumers.each do |cons|%>
           <tr><td><%= cons %></td></tr>
        <% end %>
      </table></pre>
    <% else %>
      <pre>None</pre>
    <% end %>

     <label>Statistics</label>
    <% if state != "nocontainer"
      stats = @service.stats
      if stats != nil && stats != false  %>
        <pre><table>
          <tr><td>State: <%= stats.state %></td></tr>
          <tr><td>Processes: <%=stats.proc_cnt %></td></tr>
          <tr><td><% if state == "stopped" %>Stopped: <%=stats.stopped_ts %><% else %>Started: <%=stats.started_ts %><%end%></td></tr>
          <tr><td>Memory Used:Virtual <%=stats.VSSMemory.to_s  %> Resident <%=stats.RSSMemory.to_s  %></td></tr>
          <tr><td>CPU Time: <%=stats.cpuTime.to_s %> seconds *Since Engine start</td></tr>
        </table></pre>
      <%end%>
    <% else %>
      <pre>None</pre>
     <% end %>

    <label>Processes</label>
    <% processes = @service.ps_container["Processes"]
        titles = @service.ps_container["Titles"] %>
    <pre><table>
      <tr>
      <% titles.each do |v| %>
        <td><%= v %> </td>
      <% end %>
      </tr>
      <% processes.each do |line | %>
        <tr>
          <% line.each do |v| %>
            <td><%= v %> </td>
          <% end %>
        </tr>
      <% end %>
    </table></pre>

    <label>Logs</label>
    <% logs = @service.logs_container%>
    <% if logs.present? %>
      <pre><%= logs %></pre>
    <% else %>
      <pre>None</pre>
     <% end %>

  </div>
</div>
