<%  state = @service.state %>

<div class="row">
  <div class="col-sm-12">
    <table>
      <tr><td><label>name</label></td><td><%= @service.container_name %></td></tr> 
      <tr><td><label>Host FQDN</label></td><td><a href=http://<%= @service.fqdn %>><%= @service.fqdn %></a></td></tr> 
      <tr><td><label>Current state</label></td><td><%= state %></td></tr>
      <tr><td><label>Default state</label></td><td><%= @service.default_startup_state %></td></tr> 
      <tr><td><label>Memory</label></td><td><%= @service.memory %> MB</td></tr>
      <tr><td><label>Framework</label></td><td><%= @service.framework %>/<%= @service.runtime %></td></tr>
      <tr><td><label>Image</label></td><td><%= @service.image %> </td></tr>
      <tr><td><label>Blue print source</label></td><td><%= @service.repo %> </td></tr>
    </table>
  </div>

</div>

<div class="row advanced_detail">
  <div class="col-sm-12 top-gap">

    <label>Network activity</label>
    <pre><table>
      <tr><td><label>In</label></td><td><%= @service.network_metrics[:in].to_s + " bytes" %></td></tr>
      <tr><td><label>Out</label></td><td><%= @service.network_metrics[:out].to_s + " bytes" %></td></tr>
    </table></pre>

    <label>Memory usage</label>
    <pre><table>
      <tr><td><label>Current</label></td><td><%= @service.memory_statistics[:current].to_s %></td></tr>
      <tr><td><label>Maximum</label></td><td><%= @service.memory_statistics[:maximum].to_s %></td></tr>
      <tr><td><label>Limit</label></td><td><%= @service.memory_statistics[:limit].to_s %></td></tr>
    </table></pre>

    <label>Ports</label>
    <pre><table>
      <tr><td>Web port: <%= @service.port || "n/a" %></td></tr>
      <tr><td colspan=2>This port is internal to docker environ webport is always 443 and 80 externally</td></tr>
       <% if @service.eports && @service.eports.length >0 %>
         <tr><td colspan=2>Open Ports, Public ports are represented as internal:external port</td></tr>
         <% @service.eports.each do |port| %>
           <% if port != nil %>
             <tr><td><%= port.name%></td><td><%= port.port.to_s %>:<%= port.external.to_s %> <%= port.publicFacing%></td></tr>
           <%end%>
         <%end%>
       <%end%>
    </table></pre>

    <label>Last error</label>
    <pre><table><tr><td><%= @service.last_error %></td></tr></table></pre>
  
    <label>Environment</label>
    <% environments = @service.environments %>
    <% if environments.is_a?(Array) && environments.length > 0 %>
      <pre><table>
        <% environments.each do |v|%>
          <th>Name</th>
          <th>Value</th>
          <% if v.present? %>
            <tr>
              <td><%= v.name %></td>
              <td><%= v.value %></td>
            </tr>
          <%end%>
        <%end%>
      </table></pre>
    <% else %>
      <pre>None</pre>
    <% end %>

    <label>Volumes</label>
    <% if @service.volumes.is_a?(Array) && @service.volumes.length > 0 %>
      <pre><table>
        <% @service.volumes.each do |v|%>
           <tr>
            <td><%= v %><%#=v.localpath%>/<%#=v.name%>:<%#=v.remotepath%>/<%#=v.name%></td>
          </tr>
        <%end%>
      </table></pre>
    <% else %>
      <pre>None</pre>
    <% end %>  

    <label>Consumers</label>
    <% if @service.consumers.is_a?(Array) %>                
      <pre><table>
        <% @service.consumers.each do |cons|%>
           <tr><td><%= cons %></td></tr>
        <% end %>
      </table></pre>
    <% else %>
      <pre>None</pre>
    <% end %>  

     <label>Statistics</label>  
    <% if state != "nocontainer" 
      stats = @service.stats
      if stats != nil && stats != false  %>
        <pre><table>
          <tr><td>State: <%= stats.state  %></tr></td>
          <tr><td>Processes: <%=stats.proc_cnt %> <b>List in ps list in .stats</b></tr></td>
          <% if state == "stopped" %>
            <tr><td>Stopped: <%=stats.stopped_ts %><% else %>Started: <%=stats.started_ts %></tr></td>
          <%end%>
          <tr><td>Memory Used:Virtual <%=stats.VSSMemory.to_s  %> Resident <%=stats.RSSMemory.to_s  %></tr></td>
          <tr><td>CPU Time: <%=stats.cpuTime.to_s %> seconds *Since Engine start</tr></td>
        </table></pre>
      <%end%>
      <pre>None</pre>
    <% else %>
      <pre>None</pre>
     <% end %>
  
     <label>Processes</label>
     <% res = @service.ps_container %>
     <% if @service.last_result.present? %>
       <pre><table>
         <% @service.last_result.each_line do |line | 
           vals = line.split %>
           <tr>
             <% vals.each do |v| %>  
               <td><%= v %></td>
             <% end %>
           </tr>    
         <% end %>
       </table></pre>
     <% else %>
      <pre>None</pre>
     <% end %>

    <label>Logs</label>
    <% res = @service.logs_container%>
    <% if @service.last_result.present? %>
      <pre><%= @service.last_result %></pre>
    <% else %>
      <pre>None</pre>
     <% end %>

  </div>
</div>
