<div class="col-md-12">
	<h2><%= image_tag('docker_icon.png', height: '30') %> Install from Docker image - step 2</h2>
</div>

	<%= form_for @install_from_docker_hub, url: install_from_docker_hub_configuration_path do |f| %>
		<%= render 'shared/form/errors', f: f, verb: :installed, label: 'Docker image' %>
		<%= f.hidden_field :scroll_form_to %>
		<%= f.hidden_field :docker_image %>
		<%= f.hidden_field :run_as_user %>
		<%= f.hidden_field :run_command %>
		<%= render 'shared/form/legend', text: 'Type' %>
		<%= render 'shared/form/radio_buttons', f: f, name: :type, label: false, select_collection: ['Software', 'Service'] %>
		<%= render 'shared/form/legend', text: 'Run' %>
		<%= render 'shared/form/text_field', f: f, name: :run_as_user, label: "User", hint: "valid username or userid within container" %>
		<%= render 'shared/form/text_field', f: f, name: :run_command, label: "Command", hint: "leave blank to self-start" %>
		<%= f.fields_for :application do |ff| %>
			<%= ff.hidden_field :container_name %>
		    <%= ff.fields_for :application_network_properties do |fff| %>
		      	<%= render partial: 'application_network_properties/form_fields', locals: {f: fff} %>
		    <% end %>
		  	<%= ff.fields_for :application_resources_properties do |fff| %>
		    	<%= render partial: 'application_resources_properties/form_fields', locals: {f: fff} %>
		  	<% end %>
			<%= render 'application_service_connectors', f: ff %>
			<%= render 'environment_variables', f: ff %>
			<%= render 'eports', f: ff %>
		<% end %>
		<%= render 'shared/form/legend', html_class: "top-gap" %>
		<%= render 'shared/form/cancel_and_submit_buttons', f: f, cancel_path: installer_path, submit_label: 'Install', submitted_message: "Installing..." %>
	<% end %>
