<% engine_name = @software.engine_name %>

<div class="col-sm-12 top-gap app_installs">

  <h3 class='control-panel-title'><i class='fa fa-share-alt'></i> Attach services to <%= @software.engine_name %></h3>
  <%= link_to content_tag(:i, "", class: "fa fa-arrow-left") + ' Back', control_panel_path, class: "btn btn-warning btn-lg trigger-response-modal" %>

<p>
<%= (ap @available_services, index: false, plain: true).html_safe %>
</p>

  <h3 class="top-gap"><i class="fa fa-circle"></i> Software services</h3>
  <% @available_services[:services].each do |service| %>
    <% if service[:accepts].present? && service[:accepts].include?("ManagedEngine") %>
      <h4><%= service[:title] %></h4>
    <% end %>
  <% end %>

  <% @available_services[:components].each do |k,v| %>
    <h3 class="top-gap"><i class="fa fa-circle-o"></i> <%= k.to_s.singularize.capitalize + "  services" %></h3>
    <% v.each do |vv| %>
      <% if vv.present? %>
        <h4><%= vv[:title] %></h4>
      <% end %>
    <% end %>
  <% end %>


</div>