<%= simple_form_for @user, html: {class: "form-horizontal"} do |f| %>


  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%= render partial: 'shared/form/password', locals: {field_name: :password, field_label: 'New password', f: f} %>
  </fieldset>

  <div class="actions top-gap">
    <%= link_to((content_tag(:i, "", class: "fa fa-times") + " Cancel"), new_user_session_path, class: "btn btn-lg btn-warning trigger-response-modal") %>
    <%= button_tag(type: "submit", class: "btn btn-lg btn-primary trigger-response-modal pull-right") do %>
      <%= content_tag(:i, "", class: "fa fa-check") + " Save" %>
    <% end %>
  </div>

<% end %>
