<div class="col-sm-12">
	<h1><i class="fa fa-user"></i> Admin user</h1>
	<%= link_to content_tag(:i, "", class: "fa fa-arrow-left") + ' Back', control_panel_path, class: "btn btn-warning btn-lg trigger-response-modal" %>

	<div class="panel panel-default top-gap">
		<div class="panel-heading clearfix">
			<div class="col-sm-12">
				<div class="pull-right">
					<%= link_to content_tag(:i, '', class: 'fa fa-lock') + ' Change password', edit_user_path(current_user), class: 'btn btn-lg trigger-response-modal' %>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<%= render 'shared/show/text_field', object: @user, field: :email  %>
			<%= render 'shared/show/text_field', object: @user, field: :sign_in_count  %>
			<%= render 'shared/show/text_field', object: @user, field: :current_sign_in_at  %>
			<%= render 'shared/show/text_field', object: @user, field: :last_sign_in_at  %>
			<%= render 'shared/show/text_field', object: @user, field: :current_sign_in_ip  %>
			<%= render 'shared/show/text_field', object: @user, field: :last_sign_in_ip  %>
		</div>
	</div>

</div>
