
<h2 class="h2_with_error"><%= content_tag :i, nil, class: "fa fa-bug" %> Bug</h2>
Sorry. You have encountered an internal error in Engines. Please send a report to help us fix the problem.
  <div class="col-md-8 col-md-offset-2 clearfix">
	<pre id="bsod_dialog" class="top-gap">
		<% root_path_length = Rails.root.to_s.length %>
		<% full_trace = @exception.backtrace.map{ |line| line[root_path_length..-1] } %>
		<% application_trace = full_trace.select{ |line| a = line.split('/')[1]; a == "app" || a == "opt" } %>
*** Engines Management GUI
ERROR: 500
Application failed to process request.
<%= @exception.message %>
Parameters: <%= params %>
Application trace:
<%= application_trace.map{ |line| line.split('/')[-1] }.join('<br>').html_safe %>
Full trace:
<% full_trace.each do |line| %>
<%= line %>
<% end %>
	</pre>

<%= form_tag BUG_REPORTS_SERVER + '/api/v0/bug_reports', id: 'submit_bug_report_form' do |f| %>

		  <%= hidden_field :message, value: @exception.message %>
		  <%= hidden_field :backtrace, value: full_trace %>
		  <%= hidden_field :request_params, value: params.to_s %>
		  <%= hidden_field :return_url, value: request.base_url.to_s %>
		  <%= text_area :user, :comment, class: "form-control input-lg top-gap", placeholder: "Optional comment" %>
		
  	<div class="btn-toolbar">
      <div class="btn-group top-gap">
		<%= link_to content_tag(:i, "", class: "fa fa-times") + ' No thanks', root_path, class: "btn btn-warning btn-lg trigger-response-modal" %>
	  </div>
  	  <div class="btn-group top-gap pull-right">
		  <%= button_tag type: 'submit', id: "submit_bug_report_button", class: "btn btn-default btn-lg trigger-response-modal" do %>
		    <%= content_tag :i, nil, class: "fa fa-send" %> Send bug report
		  <% end %>
      </div>
  	  <div class="btn-group top-gap pull-right">
		<div id="submit_bug_report_message" style="display: none;">
			<%= content_tag :i, nil, class: "fa fa-thumbs-o-up" %> Submitting...
		</div>
      </div>
    </div>

<% end %>

  </div>

<script>

  $('#submit_bug_report_button').click( function() {
	$(this).hide();
	$('#submit_bug_report_message').show();
  });


  // function target_popup(form) {
    // window.open('', 'formpopup', 'width=400,height=400,resizeable,scrollbars');
    // form.target = 'formpopup';
  // }
// 

// 

    // $('#submit_bug_report_form').submit(function() {
        // window.open('', 'formpopup', 'width=400,height=400,resizeable,scrollbars');
        // this.target = 'formpopup';
    // });


</script>
