<h1>Welcome#index</h1>
<h3>Working</h3>

<%= link_to 'Engines', engines_path %>
<%= link_to 'Services', services_path %>
<%= link_to 'System', system_index_path %>
<h3>To Do</h3>


<%= link_to 'Gallery', gallerys_index_path %>
<hr>
<%= link_to 'Sign Out', destroy_user_session_path, :method=>'delete'%>