<% state = @application.state %>

<div class="row">
  <div class="col-sm-12">
    <table>
      <tr><td><label>Name</label></td><td><%= @application.container_name %></td></tr>
      <tr><td><label>Websites</label></td><td>
      	<% @application.web_sites.each do |web_site| %>
      		<a href=<%= web_site %>><%= web_site %></a>
        <% end %>
      </td></tr>
      <tr><td><label>Memory</label></td><td><%= @application.memory %> MB</td></tr>
      <tr><td><label>Framework</label></td><td><%= @application.framework %>/<%= @application.runtime %></td></tr>
      <tr><td><label>Image</label></td><td><%= @application.image %></td></tr>
      <tr><td><label>Blue print source</label></td><td><%= @application.repository %></td></tr>
      <tr><td><label>Default state</label></td><td><%= @application.default_startup_state %></td></tr>
    </table>
    <label>Current state</label>
    <%= (ap state, plain: true, index: false).html_safe %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <label>Installation report</label>
     <% report = @application.installation_report %>
    <% if report.present? %>
      <pre><%= report %></pre>
      <div class="btn-group pull-right">
        <%= link_to content_tag(:i, "", class: "fa fa-external-link") + ' Open first run URL',
              open_first_run_applications_path(application_name: @application.container_name),
            class: 'btn btn-default',
            target: @application.container_name %>
     		<%= link_to content_tag(:i, "", class: "fa fa-external-link") + ' Open report in separate window',
    			installation_report_application_report_path(application_name: @application.container_name),
    			class: 'btn btn-default', id: "open_installation_report_in_new_tab", data: {popup: true} %>
      </div><br>
    <% else %>
      <pre>None</pre>
     <% end %>

    <label>Network activity</label>
    <pre><table>
      <tr><td><label>In</label></td><td><%= @application.network_metrics[:in].to_s + " bytes" %></td></tr>
      <tr><td><label>Out</label></td><td><%= @application.network_metrics[:out].to_s + " bytes" %></td></tr>
    </table></pre>

    <label>Memory usage</label>
    <pre><table>
      <tr><td><label>Current</label></td><td><%= @application.memory_statistics[:current].to_s %></td></tr>
      <tr><td><label>Maximum</label></td><td><%= @application.memory_statistics[:maximum].to_s %></td></tr>
      <tr><td><label>Limit</label></td><td><%= @application.memory_statistics[:limit].to_s %></td></tr>
    </table></pre>

    <label>Ports</label>
    <pre><table>
      <tr><td>Web port: <%= @application.port || "n/a" %></td></tr>
      <tr><td colspan=2>This port is internal to docker environ webport is always 443 and 80 externally</td></tr>
       <% if @application.eports && @application.eports.length >0 %>
         <tr><td colspan=2>Open Ports, Public ports are represented as internal:external port</td></tr>
         <% @application.eports.each do |port| %>
           <% if port != nil %>
             <tr><td><%= port.name%></td><td><%= port.port.to_s %>:<%= port.external.to_s %> <%= port.publicFacing%></td></tr>
           <%end%>
         <%end%>
       <%end%>
    </table></pre>

	<label>Last error</label>
	<% last_error = @application.last_error %>
	<% if last_error.present? %>
		<pre><%= last_error %></pre>
    <% else %>
 		<pre>None</pre>
  	<% end %>

    <label>Variables</label>
    <% software_variables = @application.build_application_variables_properties.variables %>
      <% if software_variables.is_a? Array %>
      <pre><% software_variables.each do |v|%><%= v.name %>: <%= v.value %><%end%></pre>
    <% else %>
      <pre>None</pre>
    <% end %>

    <label>Services</label>
    <% services = @application.build_application_services_properties.build_application_services %>
    <% if services.is_a? Array %>
        <% services.each do |service|%>
            <%= (ap service.existing_connection.api_service_hash, plain: true, index: false).html_safe %>
        <% end %>
    <% else %>
      <pre>None</pre>
    <% end %>

     <label>Statistics</label>
    <% if state != "nocontainer"
	       stats = @application.stats
	       if stats.present?  %>
		    <pre><table>
	          <tr><td>State: <%= stats.state  %></td></tr>
	          <tr><td>Processes: <%=stats.proc_cnt %></td></tr>
	          <tr><td><% if state == "stopped" %>Stopped: <%=stats.stopped_ts %><% else %>Started: <%=stats.started_ts %><%end%></td></tr>
	          <tr><td>Memory Used:Virtual <%=stats.VSSMemory.to_s  %> Resident <%=stats.RSSMemory.to_s %></td></tr>
	          <tr><td>CPU Time: <%=stats.cpuTime.to_s %> seconds *Since Engine start</td></tr>
	      </table></pre>
	     <% else %>
	      <pre>None</pre>
	     <% end %>
     <% else %>
      <pre>None</pre>
     <% end %>

     <label>Processes</label>
     <% ps_container =  @application.ps_container
        if ps_container
          processes = ps_container["Processes"]
          titles = ps_container["Titles"] %>
           <pre><table>
             <tr>
             <% titles.each do |v| %>
               <td><%= v %> </td>
             <% end %>
             </tr>
             <% processes.each do |line | %>
               <tr>
                 <% line.each do |v| %>
                   <td><%= v %> </td>
                 <% end %>
               </tr>
             <% end %>
           </table></pre>
      <% else %>
      <pre>None</pre>
      <% end %>

    <label>Logs</label>
     <% logs = @application.logs_container %>
    <% if logs.present? %>
      <pre><%= logs.to_s %></pre>
    <% else %>
      <pre>None</pre>
     <% end %>

    <label>Blueprint</label>
     <% blueprint = @application.blueprint %>
    <% if blueprint.present? %>
   		<%=  (ap blueprint, plain: true, index: false).html_safe %>
    <% else %>
      <pre>None</pre>
     <% end %>

  </div>
</div>
