<% application = @application
flash_message ||= nil
flash_alert_class ||= :danger
application_name = application.container_name
engine_active = application.active?
state = application.state
if state.kind_of?(EnginesOSapiResult)
  state = "state_error"
end
state_indicator = application.state_indicator
indicator_class = "indicator_" + state_indicator
engine_state = "engine_" + state_indicator
blueprint = application.blueprint_software_details
if blueprint.kind_of?(EnginesOSapiResult)
  default_name = "?"
else
  default_name = blueprint['short_title'] || blueprint['full_title'] || blueprint['name']
end
web_sites = application.web_sites
%>

<% if flash_message.present? %>
	<%= content_tag(:div, nil, class: "flash_message_data", data: {messagebody: flash_message, alertclass: flash_alert_class})%>
<% end %>

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
	<div class="engine-gadget application btn-group" title='<%= [@application.application_display_properties.title, @application.application_display_properties.detail].reject(&:blank?).join(' - ') %>'>
		<button type="button" class="btn btn-default dropdown-toggle <%= engine_state %>" data-toggle="dropdown">
			<div class="icon_holder">
				<%= image_tag(application.application_display_properties.icon_url, class: "engine_icon", alt: "") -%>
			</div>
			<div class="text_holder">
				<%= content_tag(:strong, application_name) %><br>
				<%= content_tag(:i, "", class: "fa fa-bookmark-o") + ' ' + application.application_display_properties.title %><br>
				<%= content_tag(:i, "", class: "fa fa-circle indicator " + indicator_class) %> <small><%= state_indicator.humanize %></small>
			</div>
		</button>

		<ul class="dropdown-menu engine-gadget-dropdown-menu" role="menu">
			<li>
				<div class="dropdown-title">
					<%= application_name %>
				</div>
			</li>
			<% if state == "running" %>
				<li>
					<div class="<%= indicator_class %> dropdown-title">
						<%= content_tag(:i, "", class: "fa fa-play") %> Running
					</div>
				</li>
				<li>
					<%= link_to content_tag(:i, "", class: "fa fa-stop") + " Stop", "javascript:void(0);", class: 'object_action', data: { action: "Stopping", url: stop_applications_path(application_name: application_name) } %>
				</li>
				<li>
					<%= link_to content_tag(:i, "", class: "fa fa-repeat") + " Restart", "javascript:void(0);", class: 'object_action', data: { action: "Restarting", url: restart_applications_path(application_name: application_name) } %>
				</li>
				<li>
					<%= link_to content_tag(:i, "", class: "fa fa-pause") + " Pause", "javascript:void(0);", class: 'object_action', data: { action: "Pausing", url: pause_applications_path(application_name: application_name) } %>
				</li>
			<% elsif state == "paused" %>
				<li>
					<div class="<%= indicator_class %> dropdown-title">
						<%= content_tag(:i, "", class: "fa fa-pause") %> Paused
					</div>
				</li>
				<li>
					<%= link_to content_tag(:i, "", class: "fa fa-pause") + " Unpause", "javascript:void(0);", class: 'object_action', data: { action: "Unpausing", url: unpause_applications_path(application_name: application_name) } %>
				</li>
			<% elsif state == "stopped" %>
				<% if state_indicator == "error" %>
					<li>
						<div class="<%= indicator_class %> dropdown-title">
							<%= content_tag(:i, "", class: "fa fa-warning") %> Error
						</div>
					</li>
					<li>
						<%= link_to content_tag(:i, "", class: "fa fa-stop") + " Stop", "javascript:void(0);", class: 'object_action', data: { action: "Stopping", url: stop_applications_path(application_name: application_name) } %>
					</li>
					<% else %>
					<li>
						<div class="<%= indicator_class %> dropdown-title">
							<%= content_tag(:i, "", class: "fa fa-stop") %> Stopped
						</div>
					</li>
				<% end %>
				<li>
					<%= link_to content_tag(:i, "", class: "fa fa-play") + " Start", "javascript:void(0);", class: 'object_action', data: { action: "Starting", url: start_applications_path(application_name: application_name) } %>
				</li>
				<li class="divider"></li>
				<li>
					<%= link_to content_tag(:i, "", class: "fa fa-ban") + " Unbuild", "javascript:void(0);", class: 'object_action', data: { action: "Unbuilding", url: destroy_container_applications_path(application_name: application_name) } %>
				</li>
				<li>
					<%= link_to content_tag(:i, "", class: "fa fa-repeat") + " Rebuild", "javascript:void(0);", class: 'object_action', data: { action: "Recreating", url: recreate_applications_path(application_name: application_name) } %>
				</li>
				<li class="divider"></li>
				<li>
					<%= link_to content_tag(:i, "", class: "fa fa-arrow-circle-right") + " Reinstall", "javascript:void(0);", class: 'object_action', data: { action: "Reinstalling", url: reinstall_applications_path(application_name: application_name) } %>
				</li>
			<% elsif  state == "unbuilt" %>
				<% if state_indicator == "error" %>
					<li>
						<div class="<%= indicator_class %> dropdown-title">
							<%= content_tag(:i, "", class: "fa fa-warning") %> Error
						</div>
					</li>
					<li>
						<div class="dropdown-title">
							<small><%= state.humanize %></small>
						</div>
					</li>
				<% else %>
					<li>
						<div class="<%= indicator_class %> dropdown-title">
							<%= content_tag(:i, "", class: "fa fa-circle-o") %> Unbuilt
						</div>
					</li>
				<% end %>
				<li>
					<%= link_to content_tag(:i, "", class: "fa fa-wrench") + " Build", "javascript:void(0);", class: 'object_action', data: { action: "Creating", url: create_container_applications_path(application_name: application_name) } %>
				</li>
				<li class="divider"></li>
				<li>
					<%= link_to content_tag(:i, "", class: "fa fa-trash-o") + " Uninstall", application_uninstall_path(application_name: application_name), class: "trigger-response-modal" %>
				</li>
				<li>
					<%= link_to content_tag(:i, "", class: "fa fa-arrow-circle-right") + " Reinstall", "javascript:void(0);", class: 'object_action', data: { action: "Reinstalling", url: reinstall_applications_path(application_name: application_name) } %>
				</li>
			<% else %>
				<li>
					<div class="<%= indicator_class %> dropdown-title">
						<%= content_tag(:i, "", class: "fa fa-warning") %> State error
					</div>
				</li>
			<%  end %>
			<li class="divider"></li>
			<li>
				<%= link_to content_tag(:i, "", class: "fa fa-desktop") + " Display properties", edit_application_display_properties_path(application_name: application_name), class: 'trigger-response-modal' %>
			</li>
			<li>
				<%= link_to content_tag(:i, "", class: "fa fa-sitemap") + " Network properties", edit_application_network_properties_path(application_name: application_name), class: 'trigger-response-modal' %>
			</li>
			<% if engine_active == true %>
				<li class="disabled">
					<%= link_to content_tag(:i, "", class: "fa fa-pie-chart") + " Resources properties", "javascript:void(0);" %>
				</li>
			<% else %>
				<li>
					<%= link_to content_tag(:i, "", class: "fa fa-pie-chart") + " Resources properties", edit_application_resources_properties_path(application_name: application_name), class: 'trigger-response-modal' %>
				</li>
			<% end %>
			<% if engine_active == true %>
				<li class="disabled">
					<%= link_to content_tag(:i, "", class: "fa fa-question") + " Variables properties", "javascript:void(0);" %>
				</li>
			<% else %>
				<li>
					<%= link_to content_tag(:i, "", class: "fa fa-question") + " Variables properties", edit_application_variables_properties_path(application_name: application_name), class: 'trigger-response-modal' %>
				</li>
			<% end %>
			<li class="divider"></li>
			<li>
				<%= link_to content_tag(:i, "", class: "fa fa-arrows-v") + " Connected services", application_services_properties_path(application_name: application_name),  class: "trigger-response-modal" %>
			</li>
			<li class="divider"></li>
			<li>
				<%= link_to content_tag(:i, "", class: "fa fa-list-alt") + " Advanced details", "#", data: {toggle: "modal", target: ("#modal_advanced_" + application_name), url: application_report_path(application_name: application_name) }, role: "button", class: "modal_menu_item" %>
			</li>
			<li>
				<%= link_to content_tag(:i, "", class: "fa fa-info-circle") + " About", "#", data: {toggle: "modal", target: ("#modal_about_" + application_name), url: application_about_path(application_name: application_name) }, role: "button", class: "modal_menu_item" %>
			</li>
			<% if web_sites.present? %>
				<li class="divider"></li>
				<% web_sites.each do |web_site| %>
					<li>
						<%= link_to content_tag(:i, "", class: "fa fa-globe") + " " + web_site, web_site, target: application_name %>
					</li>
				<% end %>
			<% end %>
		</ul>
	</div>
</div>

<div class="modal application_detail advanced_detail" id="modal_advanced_<%= application_name %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title"><%= content_tag(:i, "", class: "fa fa-list-alt") %> Advanced details for <%= application_name %></h4>
			</div>
			<div class="modal-body" id="modal_advanced_<%= application_name %>_body">
				<div class="loading_spinner">
					<%= content_tag(:i, "", class: "fa fa-spinner fa-spin") %>
				</div>
				<div class="modal_body_content"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button>
			</div>
		</div>
	</div>
</div>

<div class="modal application_detail about_detail" id="modal_about_<%= application_name %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title"><%= content_tag(:i, "", class: "fa fa-info-circle") %> About <%= application_name %></h4>
			</div>
			<div class="modal-body" id="modal_about_<%= application_name %>_body">
				<div class="loading_spinner">
					<%= content_tag(:i, "", class: "fa fa-spinner fa-spin") %>
				</div>
				<div class="modal_body_content"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button>
			</div>
		</div>
	</div>
</div>




