<div class="col-sm-12">
  <h2 class="control-panel-title"><%= content_tag(:i, "", class: "fa fa-play") %> App Manager</h2>
</div>

<div class="col-sm-12">
  <h3 class="control-panel-heading"><%= content_tag(:i, "", class: "fa fa-tablet") %> Apps</h3>
  <% if @engines %>
      <% @engines.each do |engine| %>
          <% @engine = engine %>
          <%= render partial: "engine_control_panel" %>
      <% end %>
  <% else %>
      <p>No application servers installed</p>
  <% end %>

  <h3 class="control-panel-heading"><%= content_tag(:i, "", class: "fa fa-hdd-o") %> Services</h3>
  <% @services.each do |service| %>
      <% @service = service %>
      <%= render partial: "service_control_panel" %>
  <% end %>
</div>
