<!DOCTYPE html>
<html>
<head>
  <title>Engines</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="content">

  <div id="home-page-alerts">
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="contaner-fluid home-view">
    <div class="row">  
      <div class="col-sm-2">

        <div class="btn-group btn-group-lg">
          <a href=<%= destroy_user_session_path %> data-method="delete" class="btn btn-default btn-launcher" data-toggle="tooltip" title="Sign out <%= current_user.username %>">
            <i class="fa fa-sign-out fa-launcher"></i>
            <div class="launcher-label">
              Sign out<br>
              <%= current_user.username %>
            </div>
          </a>
        </div>

        <div class="btn-group btn-group-lg">
          <a href=<%= app_manager_path %> class="btn btn-default btn-launcher">
            <i class="fa fa-gears fa-launcher"></i>
            <div class="launcher-label">
              Control Panel
            </div>
          </a>
        </div>

        </div>
        <div class="col-sm-8">

          <div class="home-view">
            <div class="row">

              <% if @engines.present? %>
                  <% @engines.each do |engine| %>
                      <% @engine = engine %>
                      <%= render partial: "engines/engine_home_page_icon" %>
                  <% end %>
              <% else %>
                  <p class="top-gap">Welcome to Engines. No apps are running.<br>
                    Fire-up a new app using the Installer in the Control Panel.</p>
              <% end %>

            </div>
          </div>

        </div>

        <div class="col-sm-2">
        </div>

      </div>

      <div id="footer">
      </div>

    </div>
  </div>
</div>

</body>
</html>






