<h1>Engines</h1>


<h3>Working</h3>

<%= link_to 'Engines', engines_path %>
<%= link_to 'Services', services_path %>
<%= link_to 'System', system_index_path %>
<p>
<strong>In Progress</strong>

</p>
<p>
	Installation of new software
</p>
<li><%= link_to 'Gallery', gallerys_path %></li>
<li><%= link_to 'Image Installation from 3rd party repository', galleries_path %></li>
	
<hr>
<%= link_to 'Sign Out', destroy_user_session_path, :method=>'delete'%>