<div class="col-sm-6">
  <h2 class="control-panel-title"><%= content_tag(:i, "", class: "fa fa-plus-square") %> Installer</h2>
</div>

<div class="col-sm-6">
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group btn-group-lg pull-right">
      <%= link_to content_tag(:i, "", class: "fa fa-th") + " Galleries", galleries_path, class: "btn btn-default" %>
    </div>
  </div>
</div>

<div class="col-sm-12">
  <% @gallery_servers.each do |gallery_server| %>
    <h3 class="control-panel-heading">
      <%= content_tag(:i, "", class: "fa fa-th-list") %> <%= gallery_server.title %>
    </h3>
    <div class="row top-gap">
      <% @blueprints = gallery_server.listBluePrints %>
      <%  @blueprints.each do |blueprint|  %>
        <% gallery_server_name = gallery_server.short_name
          blueprint_id = blueprint["id"]
          short_name = blueprint["short_name"]
          name = blueprint["full_name"]
          home_page =  blueprint["home_page"]
          image_url =  blueprint["image_url"]
          image_url = "assets/_placeholder_for_missing_engine.jpg" if image_url.blank?
        %>       
        <div class="col-sm-6 col-md-4">
          <div class="btn-group btn-group-lg">
            <% install_url = new_install_path(install: {gallery_server_name: gallery_server.short_name, gallery_server_url: gallery_server.gallery_url, blueprint_id: blueprint_id}) %>
            <a href=<%= install_url %> data-toggle="tooltip" title="Click to install <%= name %>">
              <img src=<%= image_url%> class="engine-install-icon">
            </a>
          </div>
          <div class="engine-install-text">
            <%= name %><br>
            <a href=<%=home_page%>><%=home_page%></a>
          </div>
        </div>
      <%end%>
    </div>
  <%end%>
</div>
