<div class="col-sm-12">
  <h2 class="control-panel-title"><%= content_tag(:i, "", class: "fa fa-tachometer") %> System</h2>
</div>


<% cpu_cnt = Vmstat.cpu.length %>
<%= cpu_cnt %> Cpus<br />
<table>
  <th>CPU</th>
  <th>idle</th>
  <th>nice</th>
  <th>system</th>
  <th>user</th>
<% Vmstat.cpu.each do  |cpu|%>
  <tr>
      <% total = cpu.nice + cpu.idle + cpu.system + cpu.user 
      idle = cpu.idle.to_f / total.to_f * 100.0
      nice = cpu.nice.to_f  / total.to_f * 100.0
      system = cpu.system.to_f  / total.to_f * 100.0
      user = cpu.user.to_f  / total.to_f * 100.0 %>
      <td><%=cpu.num%> </td>
      <td><%=idle.to_i%> %</td>
      <td><%=nice.to_i%>%</td>
      <td><%=system.to_i%>%</td>
      <td><%=user.to_i%>%</td>                                
      </tr>

<% end%>

</table>

<% 
one = @snapshop.load_average.one_minute
five =  @snapshop.load_average.five_minutes
fithteen =  @snapshop.load_average.fifteen_minutes
%><p>
<strong>Load Averages</strong><br/>
1 Minute:<b><%= one %></b><br>
5 Minute:<b><%= five %></b><br /> 
15 Minute:<b><%= fithteen%></b><br> 
</p>
<p>
   <strong>Memory</strong><br>
   <% ps = @snapshop.memory.pagesize
       ps = ps/1024
       active =  @snapshop.memory.active * ps
       free =   @snapshop.memory.free * ps
       inactive =  @snapshop.memory.inactive * ps
       wired =  @snapshop.memory.wired * ps
   %>
   <table>
       <th>Swap size</th>
       <th>Free</th>
       <th>active</th>
       <th>inactive</th>
       <th>wired</th>
       <th>Pageins</th>
       <th>PageOuts</th>
       <tr>
           <td>belum</td>
           <td><%=free%></td>
           <td><%=active%></td>
           <td><%=inactive%></td>
           <td><%=wired%></td>
           <% rateout =@vm2.pageouts - @snapshop.memory.pageouts %>
           <% ratein = @vm2.pageins - @snapshop.memory.pageins %>
           <td><%=rateout%> </td>
           <td><%=ratein %> </td>
       </tr>
   </table>
</p>

