<div class="col-sm-12 top-gap">
  <h2><i class="fa fa-certificate"></i> Create SSL certificate</h2>
  <h3><%= @domain.domain_name %></h3>

  <%= form_for @domain, url: create_domain_ssl_certificate_path do |f| %>
    <%= (f.hidden_field :domain_name, value: f.object.domain_name) %>
    <%= render partial: 'shared/form/text_field', locals: {name: :person_name, f: f} %>
    <%= render partial: 'shared/form/text_field', locals: {name: :organization_name, f: f} %>
    <%= render partial: 'shared/form/text_field', locals: {name: :city, f: f} %>
    <%= render partial: 'shared/form/text_field', locals: {name: :state, f: f} %>
    <%= f.hidden_field :domain_name %>
    <%= render partial: 'shared/form/country_select', locals: {name: :country, f: f} %>
    <%= render partial: 'shared/form/cancel_and_submit_buttons', locals: {f: f, cancel_path: domains_path} %>
  <% end %>
</div>


