<%= simple_nested_form_for(@app_install, url: update_app_install_network_properties_path(id: @app_install.engine_name), method: :patch, html: {class: "form-horizontal"}) do |f| %>
  <% true || if @app_install.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@app_install.errors.count, "error") %> prohibited this install from being saved:</h2>

      <ul>
      <% @install.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :engine_name %>
  <% #= f.hidden_field :created_from_existing_engine %>

  <fieldset>
    <legend>URL</legend>
    <div class="form-group form-group-lg">
      <div class="col-sm-4">
        <%= f.label :host_name, class: "control-label" %>
        <%= f.text_field :host_name, class: "form-control" %>
      </div>
      <div class="col-sm-8">
        <%= f.label :domain_name, class: "control-label" %>
        <%= f.text_field :domain_name, class: "form-control" %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>HTTP protocol</legend>
    <div class="form-group form-group-lg">
      <div class="col-sm-12">
        <%= f.collection_radio_buttons :http_protocol, [['HTTPS only', 'HTTPS only'], ['HTTP only', 'HTTP only'], ['HTTPS and HTTP', 'HTTPS and HTTP']], :first, :last, item_wrapper_class: :radio_button_collection_item %>
      </div>
    </div>
  </fieldset>

  <div class="actions top-gap">
    <%= link_to((content_tag(:i, "", class: "fa fa-times") + " Cancel"), app_manager_path, class: "btn btn-lg btn-warning trigger-response-modal") %>
    <%= button_tag(type: "submit", class: "btn btn-lg btn-primary trigger-response-modal pull-right") do %>
      <%= content_tag(:i, "", class: "fa fa-check") + " Save" %>
    <% end %>
  </div>

<% #= f.object.app.software.inspect %>
<% #= f.object.icon.url %>

<% end %>

    

