<%= simple_nested_form_for(@app_install, url: app_installs_path, html: {class: "form-horizontal"}) do |f| %>
  <% true || if @app_install.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@app_install.errors.count, "error") %> prohibited this install from being saved:</h2>

      <ul>
      <% @install.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :gallery_url %>
  <%= f.hidden_field :blueprint_id %>

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#waiting-for-response-modal">
  show waiting for response modal
</button>

  <fieldset>
    <legend>URL</legend>
    <div class="form-group form-group-lg">
      <div class="col-sm-4">
        <%= f.label :host_name, class: "control-label" %>
        <%= f.text_field :host_name, class: "form-control" %>
      </div>
      <div class="col-sm-8">
        <%= f.label :domain_name, class: "control-label" %>
        <%= f.text_field :domain_name, class: "form-control" %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Display</legend>
    <div class="form-group form-group-lg">
      <div class="col-sm-2">
        <%= f.label :name, class: "control-label" %>
      </div>
      <div class="col-sm-10">
        <%= f.text_field :display_name, class: "form-control" %>
      </div>
    </div>
    <div class="form-group form-group-lg">
      <div class="col-sm-2">
        <%= f.label :description, class: "control-label" %>
      </div>
      <div class="col-sm-10">
        <%= f.text_field :display_description, class: "form-control" %>
      </div>
    </div>

  <fieldset>
    <legend>Container</legend>
    <div class="form-group form-group-lg">
      <div class="col-sm-2">
        <%= f.label :name, class: "control-label" %>
      </div>
      <div class="col-sm-10">
        <%= f.text_field :engine_name, class: "form-control" %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Icon</legend>
    <div class="form-group form-group-lg">
      <div class="col-sm-2">
        <div class='form-image-control'>
          <div class='form-image-centering'>
            <%= image_tag(f.object.software_definition_from_gallery['image_url'], class: 'form-engine-icon') %>
          </div>
        </div>
      </div>
      <div class="col-sm-10">
        <%= f.file_field :icon, class: 'form-control input-lg choose_file_form_control' %>
      </div>
    </div>
  </fieldset>


  <% if @app_install.app_install_env_variables.present? %>
    <fieldset>
      <legend>Environment variables</legend>
      <%= f.fields_for :app_install_env_variables do |ev| %>
        <div class="form-group form-group-lg">
          <div class="col-sm-2">
            <label class="text optional control-label"><%= ev.object.name.to_s.humanize %></label>
          </div>
          <div class="col-sm-10">
            <% tooltip = (ev.object.comment || ev.object.name.to_s.humanize) %>
            <%= ev.text_field :value, class: "form-control", data: {toggle: "tooltip"}, title: tooltip %>
            <%= ev.hidden_field :name %>
          </div>
        </div>
      <% end %>
    </fieldset>
  <% end %>

  <fieldset>
    <legend>License</legend>
    <div class="col-sm-10 col-sm-offset-2">
      <div class="form-group form-group-lg form-text-lg">
        <%= link_to f.object.license_name, f.object.license_sourceurl, target: "_blank" %> 
        <span id="accept-label" class="btn btn-lg btn-default">
          <%= f.check_box :terms_and_conditions_accepted %> Accept
        </span>
      </div>
    </div>
  </fieldset>
  <div class="actions top-gap">
    <%= link_to((content_tag(:i, "", class: "fa fa-times") + " Cancel"), installer_path, class: "btn btn-lg btn-warning trigger-response-modal") %>
    <%= button_tag(type: "submit", class: "btn btn-lg btn-primary trigger-response-modal pull-right") do %>
      <%= content_tag(:i, "", class: "fa fa-check") + " Install" %>
    <% end %>
  </div>

<% end %>

    
