<%= link_to content_tag(:i, "", class: "fa fa-arrow-left") + ' Back', installer_path, class: "btn btn-default top-gap" %>
<h2 class="control-panel-title"><%= content_tag(:i, "", class: "fa fa-plus-square") %> Install <%= @application_name %></h2>
<p class="top-gap">
  <%= @application_description %>
</p>
<%= render 'new_form' %>