<div class="col-sm-12 top-gap">
  <h3 class="control-panel-title"><i class="fa fa-magic"></i> First run</h3>

  <%= simple_form_for @first_run, html: {class: "form-horizontal"} do |f| %>

    <fieldset>
      <legend>Admin password</legend>
      <%= render partial: 'shared/form/password', locals: {field_name: :admin_password, f: f, password: true} %>
      <legend>SSH password</legend>
      <%= render partial: 'shared/form/password', locals: {field_name: :ssh_password, f: f} %>
      <legend>MySQL password</legend>
      <%= render partial: 'shared/form/password', locals: {field_name: :mysql_password, f: f} %>
      <legend>Postgres password</legend>
      <%= render partial: 'shared/form/password', locals: {field_name: :psql_password, f: f} %>
      <legend>Smarthost</legend>
      <%= render partial: 'shared/form/field', locals: {field_name: :smarthost_hostname, field_label: "Hostname", f: f} %>
      <%= render partial: 'shared/form/field', locals: {field_name: :smarthost_username, field_label: "Username", f: f} %>
      <%= render partial: 'shared/form/field', locals: {field_name: :smarthost_password, field_label: "Password", f: f} %>
      <%= render partial: 'shared/form/field', locals: {field_name: :smarthost_authtype, collection: EnginesSettings.smtp_auth_types, field_label: "Authentication type", f: f} %>
      <%= render partial: 'shared/form/field', locals: {field_name: :smarthost_port, field_label: "Port", f: f} %>
      <legend>Default Domain</legend>
      <%= render partial: 'shared/form/field', locals: {field_name: :default_domain, field_label: "Domain name", f: f} %>
      <legend>SSL</legend>
      <%= render partial: 'shared/form/field', locals: {field_name: :ssl_person_name, field_label: "Person name", f: f} %>
      <%= render partial: 'shared/form/field', locals: {field_name: :ssl_organisation_name, field_label: "Organisation name", f: f} %>
      <%= render partial: 'shared/form/field', locals: {field_name: :ssl_city, field_label: "City", f: f} %>
      <%= render partial: 'shared/form/field', locals: {field_name: :ssl_state, field_label: "State", f: f} %>
      <%= render partial: 'shared/form/country_select', locals: {field_name: :ssl_country, field_label: "Country", f: f} %>
    </fieldset>

    <div class="col-sm-12 actions top-gap">
      <%= link_to((content_tag(:i, "", class: "fa fa-times") + " Cancel"), destroy_user_session_path, :method => :delete , class: "btn btn-lg btn-warning trigger-response-modal") %>
      <%= button_tag(type: "submit", class: "btn btn-lg btn-primary trigger-response-modal pull-right") do %>
        <%= content_tag(:i, "", class: "fa fa-check") + " Save" %>
      <% end %>
    </div>

  <% end %>

</div>
