<div class="col-sm-12">
  <h2><i class="fa fa-magic"></i> Setup wizard</h2>

  <%= form_for @first_run do |f| %>

    <%= render partial: 'shared/form/errors', locals: {f: f} %>

    <div class="col-sm-8 clearfix" id="first_run_form_auto_generated_passwords">
      &nbsp
    </div>

    <div class="col-sm-4 clearfix">
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default btn-lg" id="first_run_form_auto_generate_passwords_button">
          <%= content_tag(:i, '', class: 'fa fa-paint-brush') %> Auto-generate passwords
        </button>
      </div>
    </div>

    <div class="col-sm-12">
      <h4>Keep a safe record of your passwords. You will need them later.</h4>
    </div>

    <div class="col-sm-12">
      <legend>Admin</legend>
    </div>
    <%= render partial: 'shared/form/password_with_confirmation', locals: {name: :admin_password, f: f, placeholder: ["Enter", "Re-enter"]} %>
    <div class="col-sm-12">
      <legend>SSH</legend>
    </div>
    <%= render partial: 'shared/form/password_with_confirmation', locals: {name: :ssh_password, f: f, placeholder: ["Enter", "Re-enter"], label: "SSH password"} %>
    <div class="col-sm-12">
      <legend>MySQL</legend>
    </div>
    <%= render partial: 'shared/form/password_with_confirmation', locals: {name: :mysql_password, f: f, placeholder: ["Enter", "Re-enter"], label: "MySQL password"} %>
    <div class="col-sm-12">
      <legend>Postgres</legend>
    </div>
    <%= render partial: 'shared/form/password_with_confirmation', locals: {name: :psql_password, f: f, placeholder: ["Enter", "Re-enter"], label: "PSQL password"} %>
    <div class="col-sm-12">
      <legend>Smarthost</legend>
    </div>
    <%= render partial: 'shared/form/text_field', locals: {name: :smarthost_hostname, label: "Hostname", f: f} %>
    <%= render partial: 'shared/form/text_field', locals: {name: :smarthost_username, label: "Username", f: f} %>
    <%= render partial: 'shared/form/password', locals: {name: :smarthost_password, label: "Password", f: f} %>
    <%= render partial: 'shared/form/text_field', locals: {name: :smarthost_authtype, collection: EnginesSettings.smtp_auth_types, label: "Authentication type", f: f} %>
    <%= render partial: 'shared/form/text_field', locals: {name: :smarthost_port, label: "Port", f: f} %>
    <div class="col-sm-12">
      <legend>Default Domain</legend>
    </div>
    <%= render partial: 'shared/form/text_field', locals: {name: :default_domain, label: "Domain name", f: f} %>
    <div class="col-sm-12">
      <legend>SSL</legend>
    </div>
    <%= render partial: 'shared/form/text_field', locals: {name: :ssl_person_name, label: "Person name", f: f} %>
    <%= render partial: 'shared/form/text_field', locals: {name: :ssl_organisation_name, label: "Organisation name", f: f} %>
    <%= render partial: 'shared/form/text_field', locals: {name: :ssl_city, label: "City", f: f} %>
    <%= render partial: 'shared/form/text_field', locals: {name: :ssl_state, label: "State", f: f} %>
    <%= render partial: 'shared/form/country_select', locals: {name: :ssl_country, label: "Country", f: f} %>

    <%= render partial: 'shared/form/cancel_and_submit_buttons', locals: {f: f, cancel_path: destroy_user_session_path, submit_label: "Submit"} %>

  <% end %>

</div>
