<div id="first_run_form" class="col-sm-12">
  <h2><i class="fa fa-magic"></i> Setup wizard</h2>

  <%= form_for @first_run, url: first_run_path do |f| %>

    <%= render partial: 'shared/form/errors', locals: {f: f, label: 'Setup wizard', verb: 'run'} %>

    <div class="col-sm-8 clearfix" id="first_run_form_auto_generated_passwords">
      &nbsp
    </div>

    <div class="col-sm-4 clearfix">
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default btn-lg" id="first_run_form_auto_generate_passwords_button">
          <%= content_tag(:i, '', class: 'fa fa-paint-brush') %> Auto-generate passwords
        </button>
      </div>
    </div>

    <div class="col-sm-12">
      <h4>Keep a safe record of your passwords. You will need them later.</h4>
      <div id='first_run_dynamic_form_validation'></div>
    </div>

    <div class="col-sm-12">
      <legend>Admin</legend>
    </div>
    <%= render partial: 'shared/form/password_with_confirmation', locals: {name: :admin_password, f: f, placeholder: ["Enter", "Re-enter"],
    		comment: "Password for the Engines system administrator. Use this password to sign in with the admin account.",
    		label: "Admin password"} %>
    <%= render partial: 'shared/form/text_field', locals: {name: :admin_email, f: f,
    		comment: "Password reset instructions for the admin account will be sent to this email address.", label: "email address"} %>
    <div class="col-sm-12">
      <legend>Base OS</legend>
    </div>
    <%= render partial: 'shared/form/password_with_confirmation', locals: {name: :console_password, f: f,
    		hint: "Console password must be different from admin password.",
    		placeholder: ["Enter", "Re-enter"], label: "Console password",
    		comment: "Password for the engines user account on the base system."} %>
    <div class="col-sm-12">
      <legend>Database</legend>
    </div>
    <%= render partial: 'shared/form/password_with_confirmation', locals: {name: :mysql_password, f: f,
    		placeholder: ["Enter", "Re-enter"], label: "MySQL Password", comment: "Password for the default database."} %>
    <div class="col-sm-12">
      <legend>System</legend>
    </div>
    <%= render partial: 'shared/form/text_field', locals: {name: :system_hostname, label: "Hostname", f: f, value: System.system_hostname} %>

    <div class="col-sm-12">
      <legend>Domain</legend>
    </div>

	<div id="first_run_networking">
    	<%= render partial: 'shared/form/radio_buttons', locals: {name: :networking, label: false, value: :zeroconf,
    		select_collection:
    			[[:zeroconf, 'Local'], [:self_hosted_dns, 'Self-hosted DNS'], [:external_dns, 'Hosted DNS'], [:dynamic_dns, 'Dynamic DNS']],
    		value_method: :first, text_method: :last, f: f } %>
	</div>

	<div id="first_run_networking_zeroconf_message">
	<div class="col-sm-10 col-sm-offset-2">
		<div class="btn-group">
		  <button type="button" class="btn btn-lg btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    What is local? <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu dropdown_help">
			Applications will be available with .local as the host name.<br><br>
    		Local networking utilizes Zeroconf, which is supported natively by Android, iOS, Linux and OS X devices.<br><br>
    		Windows users may need to install Zeroconf (or Bonjour) and configure their DNS settings.
		  </ul>
		</div>
        <br>
        <br>
	</div>
	</div>
	<div id="first_run_networking_domain_name_field">
	    <%= render partial: 'shared/form/text_field', locals: {name: :domain_name,
				label: "Domain name", f: f, } %>
	</div>
	<div id="first_run_networking_dns_local_only_field">
	    <%= render partial: 'shared/form/checkbox', locals: {name: :self_dns_local_only,
				label: "Local LAN only", f: f, } %>
	</div>
	<div id="first_run_networking_dynamic_dns_fields">
	    <%= render partial: 'shared/form/select', locals: {
	    		name: :dynamic_dns_provider,
				label: "Provider",
				select_collection: [['dyn-dns', 'DynDNS dyn.com'], ['no-ip', 'No-IP noip.com']],
    			value_method: :first, text_method: :last,
    			value: '', f: f, } %>
	    <%= render partial: 'shared/form/text_field', locals: {name: :dynamic_dns_username, label: "Username", f: f} %>
	    <%= render partial: 'shared/form/password', locals: {name: :dynamic_dns_password, label: "Password", f: f} %>
	</div>

    <div class="col-sm-12">
      <legend>Certificate</legend>
    </div>
    <%= render partial: 'shared/form/text_field', locals: {name: :ssl_person_name, label: "Person name", f: f, width: 4, buffer: 0} %>
    <%= render partial: 'shared/form/text_field', locals: {name: :ssl_organisation_name, label: "Organisation name", f: f, offset: 0, width: 4, buffer: 0} %>
    <%= render partial: 'shared/form/text_field', locals: {name: :ssl_city, label: "City", f: f, width: 3, buffer: 0} %>
    <%= render partial: 'shared/form/text_field', locals: {name: :ssl_state, label: "State", f: f, offset: 0, width: 2, buffer: 0} %>
    <%= render partial: 'shared/form/country_select', locals: {name: :ssl_country, label: "Country", f: f, offset: 0, width: 3, buffer: 0} %>

    <%= render partial: 'shared/form/cancel_and_submit_buttons', locals: {f: f, cancel_path: cancel_first_run_path, submit_label: "Submit"} %>

  <% end %>

</div>

<div id="first_run_field_error_template" style="display: none;">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="alert alert-warning alert-dismissible">
      		<button type="button" class="close" data-dismiss="alert"><span>×</span></button>
      		<div class="first_run_error_message"></div>
	    </div>
    </div>
</div>

<div id="first_run_submit_validation_template" style="display: none;">
	<div class="btn-group pull-right">
		<div class="btn btn-lg btn-primary">
    	    <%= content_tag(:i, "", class: "fa fa-check") + " Submit" %>
    	</div>
  	</div>
</div>

<div id="first_run_auto_generated_passwords_template" style="display: none;">
	<div class="alert alert-info">
  		<div class="first_run_passwords">
  			<div class="admin_password_area"><strong>Admin password:</strong> <span class="admin_password"></span></div>
  			<div class="console_password_area"><strong>Console password:</strong> <span class="console_password"></span></div>
  			<div class="mysql_password_area"><strong>MySQL password:</strong> <span class="mysql_password"></span></div>
  		</div>
    </div>
</div>
