<div class="col-sm-12">
  <h2><i class="fa fa-magic"></i> Setup wizard</h2>

  <%= form_for @first_run do |f| %>

    <%= render partial: 'shared/form/errors', locals: {f: f} %>

    <div class="col-sm-8 clearfix" id="first_run_form_auto_generated_passwords">
      &nbsp
    </div>

    <div class="col-sm-4 clearfix">
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default btn-lg" id="first_run_form_auto_generate_passwords_button">
          <%= content_tag(:i, '', class: 'fa fa-paint-brush') %> Auto-generate passwords
        </button>
      </div>
    </div>

    <div class="col-sm-12">
      <h4>Keep a safe record of your passwords. You will need them later.</h4>
    </div>

    <div class="col-sm-12">
      <legend>Passwords</legend>
    </div>
    <%= render partial: 'shared/form/password_with_confirmation', locals: {name: :admin_password, f: f, placeholder: ["Enter", "Re-enter"]} %>
    <%= render partial: 'shared/form/password_with_confirmation', locals: {name: :ssh_password, f: f, placeholder: ["Enter", "Re-enter"], label: "SSH password"} %>
    <%= render partial: 'shared/form/password_with_confirmation', locals: {name: :mysql_password, f: f, placeholder: ["Enter", "Re-enter"], label: "MySQL password"} %>
    <div class="col-sm-12">
      <legend>Default Domain</legend>
    </div>
    <%= render partial: 'shared/form/text_field', locals: {name: :default_domain, label: "Domain name", f: f} %>
    <%= render partial: 'shared/form/radio_buttons', locals: {name: :default_domain_config,
			hint: "Private: For private use on a local network. DNS is hosted locally.\nPublic\n- external DNS: DNS is hosted elsewhere on the Internet.\n- self-hosted DNS: DNS is hosted locally.",
			select_collection: ['Private', 'Public (external DNS)', 'Public (self-hosted DNS)'], default_value: 'Private', label: "Setup as", f: f} %>
    <div class="col-sm-12">
      <legend>SSL</legend>
    </div>
    <%= render partial: 'shared/form/text_field', locals: {name: :ssl_person_name, label: "Person name", f: f} %>
    <%= render partial: 'shared/form/text_field', locals: {name: :ssl_organisation_name, label: "Organisation name", f: f} %>
    <%= render partial: 'shared/form/text_field', locals: {name: :ssl_city, label: "City", f: f} %>
    <%= render partial: 'shared/form/text_field', locals: {name: :ssl_state, label: "State", f: f} %>
    <%= render partial: 'shared/form/country_select', locals: {name: :ssl_country, label: "Country", f: f} %>

    <%= render partial: 'shared/form/cancel_and_submit_buttons', locals: {f: f, cancel_path: cancel_first_runs_path, submit_label: "Submit"} %>

  <% end %>

</div>
