<div id="first_run_form" class="col-sm-12">
  <h2><i class="fa fa-magic"></i> Setup wizard</h2>

  <%= form_for @first_run, url: first_run_path do |f| %>

    <%= render partial: 'shared/form/errors', locals: {f: f, label: 'Setup wizard', verb: 'run'} %>

    <div class="col-sm-8 clearfix" id="first_run_form_auto_generated_passwords">
      &nbsp
    </div>

    <div class="col-sm-4 clearfix">
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default btn-lg" id="first_run_form_auto_generate_passwords_button">
          <%= content_tag(:i, '', class: 'fa fa-paint-brush') %> Auto-generate passwords
        </button>
      </div>
    </div>
 
    <div class="col-sm-12">
      <h4>Keep a safe record of your passwords. You will need them later.</h4>
      <div id='first_run_dynamic_form_validation'></div>
    </div>

    <div class="col-sm-12">
      <legend>Engines passwords</legend>
    </div>
    <%= render partial: 'shared/form/password_with_confirmation', locals: {name: :admin_password, f: f, placeholder: ["Enter", "Re-enter"], comment: "Password for the account 'admin' on this Engines system.", label: "Admin"} %>
    <%= render partial: 'shared/form/password_with_confirmation', locals: {name: :console_password, f: f, hint: "Console password must be different from admin password.", placeholder: ["Enter", "Re-enter"], label: "Console", comment: "Password for accessing the account 'engines' on this Engines system from a console or terminal."} %>

    <div class="col-sm-12">
      <legend>Database password</legend>
    </div>
    <%= render partial: 'shared/form/password_with_confirmation', locals: {name: :mysql_password, f: f, placeholder: ["Enter", "Re-enter"], label: "MySQL", comment: "Password for the default database."} %>

    <div class="col-sm-12">
      <legend>Domain</legend>
    </div>
    <%= render partial: 'shared/form/text_field', locals: {name: :default_domain, label: "Domain name", f: f} %>
    <%= render partial: 'shared/form/radio_buttons', locals: {name: :default_domain_config,
			hint: "Private: For private use on a local network. DNS is hosted locally.\nPublic\n- external DNS: DNS is hosted elsewhere on the Internet.\n- self-hosted DNS: DNS is hosted locally.",
			select_collection: ['Private', 'Public (external DNS)', 'Public (self-hosted DNS)'], default_value: 'Private', label: false, f: f} %>
    <div class="col-sm-12">
      <legend>SSL</legend>
    </div>
    <%= render partial: 'shared/form/text_field', locals: {name: :ssl_person_name, label: "Person name", f: f} %>
    <%= render partial: 'shared/form/text_field', locals: {name: :ssl_organisation_name, label: "Organisation name", f: f} %>
    <%= render partial: 'shared/form/text_field', locals: {name: :ssl_city, label: "City", f: f} %>
    <%= render partial: 'shared/form/text_field', locals: {name: :ssl_state, label: "State", f: f} %>
    <%= render partial: 'shared/form/country_select', locals: {name: :ssl_country, label: "Country", f: f} %>

    <%= render partial: 'shared/form/cancel_and_submit_buttons', locals: {f: f, cancel_path: cancel_first_run_path, submit_label: "Submit"} %>

  <% end %>

</div>

<div id="first_run_field_error_template" style="display: none;">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="alert alert-warning alert-dismissible">
      		<button type="button" class="close" data-dismiss="alert"><span>×</span></button>
      		<div class="first_run_error_message"></div>
	    </div>
    </div>
</div>

<div id="first_run_submit_validation_template" style="display: none;">
	<div class="btn-group pull-right">
		<div class="btn btn-lg btn-primary">
    	    <%= content_tag(:i, "", class: "fa fa-check") + " Submit" %>
    	</div>
  	</div>
</div>

<div id="first_run_auto_generated_passwords_template" style="display: none;">
	<div class="alert alert-info">
  		<div class="first_run_passwords">
  			<div class="admin_password_area"><strong>Admin password:</strong> <span class="admin_password"></span></div>
  			<div class="console_password_area"><strong>Console password:</strong> <span class="console_password"></span></div>
  			<div class="mysql_password_area"><strong>MySQL password:</strong> <span class="mysql_password"></span></div>
  		</div>
    </div>
</div>

