<div class="col-sm-12">

	<h2 class=''><%= content_tag(:i, "", class: "fa fa-gear") + " Configure " + @service.container_name %></h2>

	<%= link_to content_tag(:i, "", class: "fa fa-arrow-left") + ' Back', control_panel_path, class: "btn btn-warning btn-lg trigger-response-modal" %>

	<div class="top-gap">

		<% if (@service.configurator_params.is_a?(Array) && @service.configurator_params.present?) %>

			<% @service.configurator_params.each do |configurator| %>
		
			<div class="panel panel-default">
				<div class="panel-heading">
		  			<%= link_to content_tag(:i, "", class: "fa fa-edit") + ' Edit',
		  					edit_service_configuration_path(service_name: @service.container_name, configurator_name: configurator[:name]),
		  					class: "btn btn-default btn-noborder btn-lg trigger-response-modal pull-right" %>

		  			<%= configurator[:label] %><br>
		  			<small><%= configurator[:description] %></small>
				</div>
				<div class="panel-body">
					<% existing_variables = configurator[:variables_attributes] %>
					<% if (existing_variables.is_a?(Array) && existing_variables.present?) %>
						<% existing_variables.each do |variable|%>
							<% value = variable[:value]
								if variable[:field_type].include? 'password'
							      value = value.to_s.length.times.map{ '<small><i class="fa fa-circle"></i></small>' }.join().html_safe
							   	end
							 %>
							 <%= render partial: 'shared/show/label_and_text', locals: {label: variable[:label], text: value} %>
						<% end %>
					<% else %>
						Unable to load variables. Check that service is running.
					<% end %>
			  		<% #= ap(@service.test(configurator[:name]), plain: true, index: false).html_safe %>
				</div>
			</div>
		
			<% end %>

		<% else %>
			This service does not have settings to configure.
		<% end %>
		
	</div>

</div>
