<div class="col-sm-12">
  <h2><i class="fa fa-tv"></i> Display settings</h2>
  <%= form_for @display_settings, url: display_settings_path do |f| %>
    <%= render partial: 'shared/form/errors', locals: {f: f} %>
</div>
<div class="col-sm-12">
    <legend>Label</legend>
    <%= render partial: 'shared/form/text_field', locals: {name: :system_label, label: false, comment: 'The label will be displayed as the browser tab title. Prominent label shown on each page.', f: f} %>
    <%= render partial: 'shared/form/checkbox', locals: {name: :show_label, label: 'Prominent label', f: f} %>
</div>
<div class="col-sm-12">
    <legend>Colors</legend>
    <%= render partial: 'shared/form/color_field', locals: {name: :icon_text_color, label: 'Text', f: f} %>
    <%= render partial: 'shared/form/color_field', locals: {name: :background_color, label: 'Background', f: f} %>
</div>
<div class="col-sm-12">
    <legend>Desktop wallpaper</legend>
    <%= render partial: 'shared/form/image_field', locals: {name: :wallpaper, label: false, tooltip: "Change wallpaper.", f: f} %>
</div>
<div class="col-sm-12">
    <%= render partial: 'shared/form/cancel_and_submit_buttons', locals: {f: f, cancel_path: system_path} %>
  <% end %>
</div>
