    <%= f.hidden_field :type_path %>
    <%= f.hidden_field :publisher_namespace %>
	<!-- <div class="btn-group-vertical top-gap pull-right">
		<button type="button" class="btn btn-default btn-lg" id="show_advanced_fields_button">
			<%#= content_tag(:i, '', class: 'fa fa-terminal') %> Advanced
		</button>
	</div> -->
    <%= render partial: 'shared/form/errors', locals: {f: f, label: @application_service.title} %>
    <%= render partial: 'variables/form_fields', locals: {f: f} %>
    <%= render partial: 'shared/form/cancel_and_submit_buttons', locals: {f: f, cancel_path: application_services_properties_path(application_name: @application_service.application.container_name)} %>
  <%= form_for @application_service, url: application_services_path(application_name: @application_service.application.container_name) do |f| %>
  <% end %>