<%= simple_nested_form_for(@software, url: update_display_properties_software_path(@software), method: :patch, html: {class: "form-horizontal"}) do |f| %>
  <% true || if @software.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@software.errors.count, "error") %> prohibited this install from being saved:</h2>

      <ul>
      <% @install.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :engine_name %>
  <% #= f.hidden_field :created_from_existing_engine %>

  <fieldset>
    <legend>App</legend>
    <div class="form-group form-group-lg">
      <div class="col-sm-2">
        <%= f.label 'Name', class: "control-label" %>
      </div>
      <div class="col-sm-10">
        <%= f.text_field :display_name, class: "form-control" %>
      </div>
    </div>
    <div class="form-group form-group-lg">
      <div class="col-sm-2">
        <%= f.label 'Description', class: "control-label" %>
      </div>
      <div class="col-sm-10">
        <%= f.text_field :display_description, class: "form-control" %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Icon</legend>
    <% if f.object.icon.present? %>
      <div class='form-image-control'>
        <div class='form-image-centering'>
          <%= image_tag(f.object.icon.url, class: 'form-engine-icon') %> <%= f.check_box(:delete_icon) %> <%= label_tag :delete %>
        </div>
      </div>
    <% end %>
    <%= f.file_field :icon, class: 'form-control input-lg choose_file_form_control' %>
  </fieldset>

  <div class="actions top-gap">
    <%= link_to((content_tag(:i, "", class: "fa fa-times") + " Cancel"), control_panel_path, class: "btn btn-lg btn-warning trigger-response-modal") %>
    <%= button_tag(type: "submit", class: "btn btn-lg btn-primary trigger-response-modal pull-right") do %>
      <%= content_tag(:i, "", class: "fa fa-check") + " Save" %>
    <% end %>
  </div>

<% #= f.object.app.software.inspect %>
<% #= f.object.icon.url %>

<% end %>

    

