<% app = software.app %>

<div class='home_page_app_gadget'>
  <a class="btn btn-default btn-launcher" href="http://<%= app.fqdn %>" target="_blank">
    <div class="launcher_icon_and_label_holder">
      <% #= software.inspect %>
      <% if software.icon.exists? %>
        <%= image_tag(software.icon.url, class: "launcher-icon") %>
      <% else %>
        <%= image_tag("_placeholder_for_missing_engine.jpg", class: "launcher-icon") %><br>
      <% end %>
      <div class="launcher-label">
        <%= content_tag(:i, "", class: "fa fa-exclamation-triangle indicator_stopped") if app.state != "running" %>
        <%= software.display_name %>
      </div>
    </div>
  </a>
</div>

