<%= form_for(@software, url: update_runtime_properties_software_path(@software), method: :patch) do |f| %>

  <%= form_errors f, name: 'network properties' %>

  <%= f.hidden_field :engine_name %>
  <%= f.hidden_field :form_type, value: :edit_display_properties %>

  <legend>Resources</legend>
  <%= f.input :memory, wrapper_html: { class: 'col-sm-12' } %>


  <% environment_variables = f.object.software_environment_variables %>
  <% if environment_variables.present? %>
    <legend>Environment variables</legend>
    <%= f.fields_for :software_environment_variables do |ev| %>
        <%= render partial: 'environment_variable_fields', locals: {ev: ev} %>
    <% end %>
  <% end %>

  <div class="actions top-gap">
    <%= link_to((content_tag(:i, "", class: "fa fa-times") + " Cancel"), control_panel_path, class: "btn btn-lg btn-warning trigger-response-modal") %>
    <%= button_tag(type: "submit", class: "btn btn-lg btn-primary trigger-response-modal pull-right") do %>
      <%= content_tag(:i, "", class: "fa fa-check") + " Save" %>
    <% end %>
  </div>

<% end %>    

