<% domains = EnginesDomain.engines_domains.map { |domain| domain[:domain_name] } %>

<%= form_for(@software, url: update_network_properties_software_path(@software), method: :patch) do |f| %>

  <%= form_errors f, name: 'network properties' %>

  <%= f.hidden_field :engine_name %>
  <%= f.hidden_field :form_type, value: :edit_network_properties %>

  <legend>URL</legend>
  <%= f.input :host_name, wrapper_html: { class: 'col-sm-4' } %>
  <div class="col-sm-1"></div>
  <%= f.input :domain_name, as: :select, include_blank: false, collection: domains, wrapper_html: { class: 'col-sm-7' } %>

  <legend>HTTP protocol</legend>
  <div class="col-sm-1"></div>
  <%= f.input :http_protocol, label: false, as: :radio_buttons, collection: ['HTTPS only', 'HTTP only', 'HTTPS and HTTP'], wrapper_html: { class: 'col-sm-10' } %>
  <div class="col-sm-1"></div>

  <div class="actions top-gap">
    <%= link_to((content_tag(:i, "", class: "fa fa-times") + " Cancel"), control_panel_path, class: "btn btn-lg btn-warning trigger-response-modal") %>
    <%= button_tag(type: "submit", class: "btn btn-lg btn-primary trigger-response-modal pull-right") do %>
      <%= content_tag(:i, "", class: "fa fa-check") + " Save" %>
    <% end %>
  </div>

<% end %>

    

