

<%= form_for(@software, url: softwares_path) do |f| %>

    <%= form_errors f, name: 'network properties' %>


  <%= f.hidden_field :gallery_url %>
  <%= f.hidden_field :software_id %>
  <%= f.hidden_field :default_image_url %>
  <%= f.hidden_field :repository_url %>

  <fieldset>
    <button type="button" class="btn btn-default btn-lg pull-right" id="new_software_form_show_advanced_fields_button">
      <%= content_tag(:i, '', class: 'fa fa-code') %> Advanced install
    </button>
  </fieldset>

  <div id="new_software_form_default_details">
    <fieldset>
      <legend>URL</legend>
      <div class="form-group form-group-lg">
        <div class="col-sm-10 col-sm-offset-2">
          <%= content_tag(:div, (f.object.host_name.to_s + '.' + f.object.domain_name.to_s), class: "form-data") %>
        </div>
      </div>
    </fieldset>
  </div>

  <div id="new_software_form_advanced_fields">

    <fieldset>
      <legend>Engine</legend>
      <%= render partial: 'shared/form/field', locals: {field_name: :engine_name, field_label: 'Name', f: f} %>
    </fieldset>

    <fieldset>
      <legend>URL</legend>
      <%= render partial: 'shared/form/field', locals: {field_name: :host_name, f: f} %>
      <%= render partial: 'shared/form/select', locals: {field_name: :domain_name, select_collection: Domain.all.map(&:domain_name), f: f} %>
    </fieldset>

    <fieldset>
      <legend>HTTP protocol</legend>
      <div class="form-group form-group-lg">
        <div class="col-sm-10 col-sm-offset-2">
          <%= f.collection_radio_buttons :http_protocol, ['HTTPS only', 'HTTP only', 'HTTPS and HTTP'], :to_s, :to_s, {item_wrapper_class: "radio radio-label-lg" } %>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>Display</legend>
      <div class="form-group form-group-lg">
        <div class="col-sm-2">
          <%= f.label :name, class: "control-label" %>
        </div>
        <div class="col-sm-10">
          <%= f.text_field :display_name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group form-group-lg">
        <div class="col-sm-2">
          <%= f.label :description, class: "control-label" %>
        </div>
        <div class="col-sm-10">
          <%= f.text_field :display_description, class: "form-control" %>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>Icon</legend>
      <div class="form-group form-group-lg">
        <div class="col-sm-2">
          <div class='form-image-control'>
            <div class='form-image-centering'>
              <%= image_tag(f.object.default_image_url, class: 'form-engine-icon') %>
            </div>
          </div>
        </div>
        <div class="col-sm-10">
          <%= f.file_field :icon, class: 'form-control input-lg choose_file_form_control' %>
        </div>
      </div>
    </fieldset>


    <% optional_environment_variables = f.object.software_environment_variables.select{|ev| ev.mandatory.to_s != 'true'} %>
    <% if optional_environment_variables.present? %>

      <fieldset>
        <legend>Optional environment variables</legend>
        <%= f.fields_for :software_environment_variables do |ev| %>
          <% if ev.object.mandatory.to_s != 'true' %>
            <%= render partial: 'environment_variable_fields', locals: {ev: ev} %>
          <% end %>
        <% end %>
      </fieldset>
    <% end %>
  </div>

  <% mandatory_environment_variables = f.object.software_environment_variables.select{|ev| ev.mandatory.to_s == 'true'} %>
  <% if mandatory_environment_variables.present? %>
    <fieldset>
      <legend>Mandatory environment variables</legend>
      <%= f.fields_for :software_environment_variables do |ev| %>
        <% if ev.object.mandatory.to_s == 'true' %>
          <%= render partial: 'environment_variable_fields', locals: {ev: ev} %>
        <% end %>
      <% end %>
    </fieldset>
  <% end %>

  <fieldset>
    <legend>License</legend>
    <div class="col-sm-10 col-sm-offset-2">
      <div class="form-group form-group-lg form-text-lg">
        <%= link_to f.object.license_name, f.object.license_sourceurl, target: "_blank" %> 
      </div>
    </div>
    <%= render partial: 'shared/form/checkbox', locals: {field_name: :terms_and_conditions_accepted, field_label: 'Accept', f: f} %>
  </fieldset>
  <div class="actions top-gap">
    <%= link_to((content_tag(:i, "", class: "fa fa-times") + " Cancel"), installer_path, class: "btn btn-lg btn-warning trigger-response-modal") %>
    <%= button_tag(type: "submit", class: "btn btn-lg btn-primary trigger-response-modal pull-right") do %>
      <%= content_tag(:i, "", class: "fa fa-check") + " Install" %>
    <% end %>
  </div>

<% end %>
