<div class="col-sm-12">
	<h2 class=''><%= content_tag(:i, "", class: "fa fa-crosshairs") + " Actions for " + @service_name %></h2>
	<%= link_to content_tag(:i, "", class: "fa fa-arrow-left") + ' Back', services_control_panel_path, class: "btn btn-warning btn-lg trigger-response-modal" %>
	<div class="top-gap">
		<% if (@service_actionators.is_a?(Hash) && @service_actionators.present?) %>
			<% @service_actionators.each do |k, service_actionator| %>
			  		<%= link_to service_actionator[:label] || 'No label',
									service_action_path(id: @service_name,
																			action_name: service_actionator[:name]),
									data: {
										toggle: 'modal',
										target: '#' + service_actionator[:name] + '_service_action_result_modal'},
									class: 'btn btn-default btn-lg top-gap'	%><br>

			<div class="modal fade"  id="<%= service_actionator[:name] %>_service_action_result_modal" tabindex="-1" role="dialog">
			  <div class="modal-dialog">
					<div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title"><%= service_actionator[:label] || 'No label' %></h4>
			      </div>
			      <div class="modal-body">
							<p class="text-center"><%= content_tag(:i, nil, class: "fa fa-spinner fa-spin") %></p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>

			<% end %>
		<% else %>
		  This service has no actions.
		<% end %>
	</div>
</div>
