<%= link_to 'Back', welcome_index_path %>
<table>
	<th>Title</th>
	<th>Url</th>
	<th>Maintainer</th>
<% @galleries.each do |gallery|%>
	<% if gallery != nil %>
<tr>
	<td><%= gallery.title %></td>
	<td><%= gallery.blueprints_url %></td>
</tr>
	


<% blueprints_uri =URI('http://192.168.108.243:3001/json_published_softwares') %>
<%= blueprints_uri.to_s %> <%=blueprints_uri.port %>
<%
Net::HTTP.start(blueprints_uri.host, blueprints_uri.port) do |http|
  request = Net::HTTP::Get.new blueprints_uri
%> <%= request %> <%= http %> <%
  response = http.request request # Net::HTTPResponse object
  %>
  <tr><td>
  	<% if response.code >= 200 && response.code < 400 %>
  			<%=response.body %>
  		<elsif>
  				<%=response.msg %>
  		<%end%>
</td>
</tr>
  
<% end  %>

	<%end%>
<% end %>
</table>
