<%= link_to content_tag(:i, "", class: "fa fa-arrow-left") + ' Back', installer_path, class: "btn btn-default top-gap" %>
<h2 class="control-panel-title"><%= content_tag(:i, "", class: "fa fa-th") %> Galleries</h2>

<% if @galleries %>
    <% @galleries.each do |gallery| %>
        <%= render partial: "show", locals: { gallery: gallery } %>
    <% end %>
<% else %>
    <p>No galleries.</p>
<% end %>

<div class="btn-group">
  <% #= link_to content_tag(:i, "", class: "fa fa-list") + " Add from list", "#", data: {toggle: "modal", target: "#modal_add_gallery"}, role: "button", class: "btn btn-default" %>
  <%= link_to content_tag(:i, "", class: "fa fa-plus") + " Add", new_gallery_install_path, class: "btn btn-default" %>
</div>

<div class="modal fade" id="modal_add_gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"><%= content_tag(:i, "", class: "fa fa-plus") %> Add gallery</h4>
      </div>
      <div class="modal-body">
        <% if @unadded_gallery_servers.present? %>
          <% @unadded_gallery_servers.each do |gallery_server| %>
            <%= link_to gallery_server.title, gallery_installs_path(gallery_server_name: gallery_server.short_name, gallery_server_url: gallery_server.gallery_url), method: :post %><br>
          <% end %>
        <% else %>
            No more galleries to add.
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

