<div class="col-md-12">
	<h2><%= image_tag('docker_icon.png', height: '30') %> Install from Docker image - step 1</h2>
</div>

	<%= form_for @install_from_docker_hub, url: install_from_docker_hub_path do |f| %>
		<%= render 'shared/form/errors', f: f, verb: :installed, label: 'Docker image' %>
		<%= f.hidden_field :scroll_form_to %>
		<%= f.hidden_field :new_application_service_publisher_namespace %>
		<%= f.hidden_field :new_application_service_type_path %>
		<%= f.hidden_field :new_environment_variable %>
		<%= f.hidden_field :new_eport %>
		<%= f.hidden_field :docker_image %>
		<%= f.hidden_field :run_as_user %>
		<%= f.hidden_field :run_command %>
		<%= render 'shared/form/legend', text: 'Docker image' %>
		<%= render 'shared/form/text_field', f: f, name: :docker_image, label: 'Source URL' %>		
		<%= f.fields_for :application do |ff| %>
			<%= render 'shared/form/legend', text: 'Engine' %>
			<%= render 'shared/form/text_field', f: ff, name: :container_name, label: 'Name' %>		
			<%= render 'application_service_connectors', f: ff %>
			<%= render 'environment_variables', f: ff %>
			<%= render 'eports', f: ff %>
		<% end %>
		<%= render 'shared/form/legend', html_class: "top-gap" %>
		<%= render 'shared/form/cancel_and_submit_buttons', f: f, cancel_path: installer_path, submit_fa: 'arrow-right', submit_label: 'Next' %>
	<% end %>
