<div class="col-md-12">
	<h2><%= image_tag('docker_icon.png', height: '30') %> Install from Docker image</h2>
</div>

	<%= form_for @install_from_docker_hub, url: install_from_docker_hub_path do |f| %>
		<%= render 'shared/form/errors', f: f, verb: :installed, label: 'Docker image' %>
		<%= f.hidden_field :scroll_form_to %>
		<%= render 'shared/form/legend', text: 'Docker image' %>
		<%= render 'shared/form/text_field', f: f, name: :docker_image, label: 'Source URL' %>		
		<%= render 'shared/form/legend', text: 'Type' %>
		<%= render 'shared/form/radio_buttons', f: f, name: :type, label: false, select_collection: ['Software', 'Service'] %>
		<%= render 'shared/form/legend', text: 'Run' %>
		<%= render 'shared/form/text_field', f: f, name: :run_as_user, label: "User", hint: "valid username or userid within container" %>
		<%= render 'shared/form/text_field', f: f, name: :run_command, label: "Command", hint: "leave blank to self-start" %>
		<%= f.fields_for :application do |ff| %>
			<%= render 'application_services', f: ff %>
			<%= render 'environment_variables', f: ff %>
			<%= render 'eports', f: ff %>
		<% end %>
		<%= render 'shared/form/legend', html_class: "top-gap" %>
		<%= render 'shared/form/cancel_and_submit_buttons', f: f, cancel_path: installer_path, submit_fa: 'arrow-right', submit_label: 'Next', submitted_message: "Installing..." %>
	<% end %>
