<%  label = label.nil? ? name.to_s.humanize.capitalize : label
    tooltip ||= nil 
    value = value.nil? ? f.object.send(name) : value 
    value = [false, 0, nil, "0", "false", "n", "no", "N", "No", "NO"].exclude?(value)
    hint ||= nil
    comment ||= nil
    errors ||= f.object.errors[name]
    errors_class = "field_with_errors" if errors.present?
 	html_id = f.object.class.to_s.underscore + '_' + name.to_s
	depends_on_id ||= ""
	depends_on_regex ||= "^true$" %>

<div class="<%= errors_class %> col-sm-8 col-sm-offset-2 <%= 'dependent_field' if depends_on_id.present? %>" data-dependsonid="<%= depends_on_id %>" data-dependsonregex="<%= depends_on_regex %>" >
  <div class="form-group">
  	<% if comment.present? %><p><small><%= comment %></small></p><% end %>
    <%= f.check_box(name, checked: value, title: tooltip) + ' ' + f.label(name, label, class: 'form-text-lg', title: tooltip) %>
    <% if errors.present? %>
      <div class='form-field-errors'>
        <% errors.each do |error| %>
          <%if error.class == Array %>
            <%= error[1] %>
          <% else %>
            <%= error %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <div class='form-field-hint'>
      <%= hint %>
    </div>
  </div>
</div>
