<%  label = label.nil? ? name.to_s.humanize.capitalize : label
    tooltip ||= nil
    value = value.nil? ? f.object.send(name) : value
    value = nil if value.blank? #placeholder is visible to user only when value is nil
    hint ||= nil
    placeholder ||= nil
    comment ||= nil
    errors ||= f.object.errors[name]
    errors_class = "field_with_errors" if errors.present? %>

<div class="<%= errors_class %> col-sm-8 col-sm-offset-2">
  <div class="form-group">
    <% if label.present? %>
	    <%= f.label name, class: 'control-label' do %>
	      <%= label %>
	    <% end %>
    <% end %>
    <%= comment %>
    <div class="color_field">
    <%= f.color_field name, value: value, title: tooltip, placeholder: placeholder, class: 'form-control input-lg' %>
    </div>
    <% if errors.present? %>
      <div class='form-field-errors'>
        <% errors.each do |error| %>
          <%if error.class == Array %>
            <%= error[1] %>
          <% else %>
            <%= error %>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <% if hint.present? %>
        <div class='form-field-hint'>
          <%= hint %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
