<% form_object = f.object
   label ||= form_object.class.to_s.humanize.downcase
   verb ||= :saved %>

<% if form_object.errors.any? %>
  <div class="col-sm-8 col-sm-offset-2 top-gap">
    <div id="error_explanation" class='well error-well'>
      <h4><%= pluralize(form_object.errors.count, "error") %> prohibited the <%= label %> from being <%= verb %>:</h4>

      <ul>
      <% form_object.errors.each do |attribute, error| %>
        <li>
          <%if error.class == Array %>
            <%= error.join(' ') %>
          <% else %>
            <%= [attribute.to_s.humanize, error].join(' ') %>
          <% end %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>
