<%  label = label.nil? ? name.to_s.humanize.capitalize : label
    tooltip ||= nil
    hint ||= nil
    comment ||= nil
    errors = errors.nil? ? f.object.errors[name] : errors
    errors_class = "field_with_errors" if errors.present? %>

<div class="<%= errors_class %> col-sm-8 col-sm-offset-2">
  <div class="form-group">
    <% if label.present? %>
	    <%= f.label name, class: 'control-label' do %>
	      <%= label %>
	    <% end %>
    <% end %>
    <% if comment.present? %><p><small><%= comment %></small></p><% end %>
    <%= f.file_field name, class: 'choose_file_form_control top-gap' %>
    <% if errors.present? %>
      <div class='form-field-errors'>
        <% errors.each do |error| %>
          <%if error.class == Array %>
            <%= error[1] %>
          <% else %>
            <%= error %>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <% if hint.present? %>
        <div class='form-field-hint'>
          <%= hint %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>