<%  label = label.nil? ? name.to_s.humanize.capitalize : label
    tooltip ||= nil
    hint ||= nil
    placeholder ||= nil
    comment ||= nil
    errors ||= f.object.errors[name]
    errors_class = "field_with_errors" if errors.present? %>

<div class="<%= errors_class %> col-sm-8 col-sm-offset-2">
  <div class="form-group">
    <% if label.present? %>
	    <%= f.label name, class: 'control-label' do %>
	      <%= label %>
	    <% end %>
    <% end %>
    <%= comment %>
      <%= f.password_field name, title: tooltip, placeholder: placeholder, class: 'form-control input-lg' %>
    <% if errors.present? %>
      <div class='form-field-errors'>
        <% errors.each do |error| %>
          <%if error.class == Array %>
            <%= error[1] %>
          <% else %>
            <%= error %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <% if hint.present? %>
      <div class='form-field-hint'>
        <%= hint %>
      </div>
    <% end %>
  </div>
</div>
