<%  label = label.nil? ? name.to_s.humanize.capitalize : label
    tooltip ||= nil
    default_value ||= nil
    value ||= f.object.send(name); value = default_value if value.blank?
	select_collection ||= []
	value_method ||= :to_s
	text_method ||= :to_s
    hint ||= nil
    placeholder ||= nil
    comment ||= nil
    errors ||= f.object.errors[name]
    errors_class = "field_with_errors" if errors.present?
    field_class ||= nil  %>

<div class="<%= errors_class %> col-sm-8 col-sm-offset-2">

    <% if label.present? %>
	    <%= f.label name, class: 'control-label' do %>
	      <%= label %>
	    <% end %>
    <% end %>
    <br><small><%= comment %></small>
    <div class="form-group <%= field_class %>">
    	<%= f.collection_radio_buttons name, select_collection, value_method, text_method, {checked: value}, {title: tooltip} do |radio|
           radio.label(class: "form-text-lg", "data-value" => radio.value) { radio.radio_button + ' ' + radio.text } + '<br>'.html_safe
         end %>
	    <%= render partial: 'shared/form/field_errors_and_hint', locals: {f: f, errors: errors, hint: hint} %>
    </div>

</div>



