<%  label = label.nil? ? name.to_s.humanize.capitalize : label
    tooltip ||= nil
    value ||= f.object.send(name); value = nil if value.blank?
    hint ||= nil
    placeholder ||= nil
    comment ||= nil
    errors ||= f.object.errors[name]
    errors_class = "field_with_errors" if errors.present? %>

<div class="<%= errors_class %> col-sm-8 col-sm-offset-2">
  <div class="form-group ">

    <% if label != false %>
      <%= f.label name, class: 'control-label' do %>
        <%= label %>
      <% end %>
    <% end %>
    <%= comment %>
    <div class="form-group ">
      <%= f.collection_radio_buttons name, collection, :to_s, :to_s, {}, {title: tooltip} do |radio|
           radio.label(class: "form-text-lg", :"data-value" => radio.value) { radio.radio_button + ' ' + radio.text } + '<br>'.html_safe
         end %>
      <% if errors.present? %>
        <div class='form-field-errors'>
          <% errors.each do |error| %>
            <%if error.class == Array %>
              <%= error[1] %>
            <% else %>
              <%= error %>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <% if hint.present? %>
        <div class='form-field-hint'>
          <%= hint %>
        </div>
      <% end %>
    </div>
  </div>
</div>



