<%  label ||= name.to_s.humanize.capitalize
    tooltip ||= nil
    value = value.nil? ? f.object.send(name) : value
    value = nil if value.blank? #placeholder is visible to user only when value is nil
    hint ||= nil
    code ||= false
    rows ||= 4
    text_class ||= nil
    placeholder ||= nil
    comment ||= nil
    errors ||= f.object.errors[name]
    errors_class = "field_with_errors" if errors.present?
    offset ||= 2
    width ||= 8
    buffer ||= 2 %>

<div class="<%= errors_class %> col-sm-offset-<%= offset %> col-sm-<%= width %>">
  <div class="form-group">
    <% if label %>
      <%= f.label name, class: 'control-label' do %>
        <%= label %>
      <% end %>
    <% end %>
    <% if comment.present? %><p><small><%= comment %></small></p><% end %>
    <%= f.text_area name, value: value, title: tooltip, rows: rows.to_s, placeholder: placeholder, style: ("font-family:courier;" if code), spellcheck: ("false" if code), class: 'form-control input-lg' %>
    <% if errors.present? %>
      <div class='form-field-errors <%= text_class %>'>
        <% errors.each do |error| %>
          <%if error.class == Array %>
            <%= error[1] %>
          <% else %>
            <%= error %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <% if hint.present? %>
      <div class='form-field-hint'>
        <%= hint %>
      </div>
    <% end %>
  </div>
</div>

<% if buffer > 0 %>
  <div class="col-sm-<%= buffer %> grid-buffer-col">
    &nbsp;
  </div>
<% end %>
