<div class="col-sm-12">
	<h2><%= content_tag(:i, "", class: "fa fa-certificate") %> Security certificate upload</h2>
</div>

<div class="col-sm-12 top-gap">

	<%= form_for @system_security_certificate, url: system_security_certificate_path do |f| %>
	    <%= render partial: 'shared/form/errors', locals: {f: f} %>
	    <%= render partial: 'shared/form/text_field', locals: {name: :domain_name, label: "Domain name", f: f} %>
	    <%= render partial: 'shared/form/text_area', locals: {name: :key, f: f} %>
	    <%= render partial: 'shared/form/checkbox', locals: {name: :set_as_default, label: 'Set as default system certificate', f: f} %>
	    <%= render partial: 'shared/form/file_upload_field', locals: {name: :certificate, label: false, errors: false, tooltip: "Upload a file", f: f} %>
	    <%= render partial: 'shared/form/cancel_and_submit_buttons', locals: {f: f, cancel_path: system_security_path, submit_label: 'Upload', submit_fa: 'upload'} %>
	<% end %>

</div>
