<div class="col-sm-12 top-gap">
	<legend>Memory</legend>
	<div class="text-center">
		<%= image_tag('/charts/total_system_memory_usage') %>
	</div>
	<legend>CPU load</legend>
	<div class="text-center">
		<%= image_tag('/charts/system_cpu_usage') %>
	</div>
	<legend>Queue</legend>
	<div class="text-center">
		<%= image_tag('/charts/system_cpu_usage_averages') %>
	</div>
	<legend>Disks</legend>
	<div class="text-center">
		<%= image_tag('/charts/disk_usage') %>
  	</div>
	<legend>Network</legend>
	<div class="text-center">
		<%= image_tag('/charts/network_usage') %>
  	</div>	
</div>
