 <div class="btn-group-lg dropdown pull-right top-gap">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-bars"></i>&nbsp<span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
	<li>
	  <% link_body = (content_tag(:i, '', class: 'fa fa-globe') + ' Domains'.html_safe) %>
	  <%= link_to link_body, domains_manager_path, class: 'btn-lg trigger-response-modal' %>
    </li>
    <li>
		<%= link_to content_tag(:i, "", class: "fa fa-desktop") + ' Desktop', edit_desktop_settings_path, class: "btn-lg trigger-response-modal" %>
    </li>
    <li>
		<%= link_to content_tag(:i, "", class: "fa fa-user-secret") + ' Security', system_security_path, class: "btn-lg trigger-response-modal" %>
    </li>
	<li>
		<%= link_to content_tag(:i, "", class: "fa fa-dashboard") + ' Monitor', monitor_system_path, class: "btn-lg trigger-response-modal" %>
	</li>
	<li>
		<%= link_to content_tag(:i, "", class: "fa fa-file-text-o") + ' Logs', logs_system_path, class: "btn-lg trigger-response-modal" %>
	</li>
    <li>
		<%= link_to content_tag(:i, "", class: "fa fa-heartbeat") + ' Status', status_system_path, class: "btn-lg trigger-response-modal" %>
    </li>
	<li class="divider"></li>
    <li>
    	<%= link_to content_tag(:i, "", class: "fa fa-repeat") + ' Update', updater_system_path, class: 'btn-lg trigger-response-modal' %>
	</li>
	<li class="divider"></li>
    <li>
    	<%= link_to content_tag(:i, "", class: "fa fa-power-off") + ' Reboot', restart_system_path, class: 'btn-lg trigger-response-modal' %>
	</li>
	<li class="divider"></li>
    <li>
		<%= link_to content_tag(:i, "", class: "fa fa-linux") + ' Base OS', base_system_system_path, class: "btn-lg trigger-response-modal" %>
    </li>

  </ul>
</div>

