<div class="col-sm-6 pull-right bring-forward">
	<%= render 'system_actions' %>
</div>

<div class="col-sm-6">
	<h2><%= content_tag(:i, "", class: "fa fa-cog") %> System settings</h2>
	<%= link_to content_tag(:i, "", class: "fa fa-arrow-left") + ' Back', control_panel_path, class: "btn btn-warning btn-lg trigger-response-modal" %>
</div>

<div class="col-sm-12 top-gap">
	<div class="btn-group top-gap">
	    <%= link_to (content_tag(:i, '', class: 'fa fa-globe') + ' Domains'.html_safe), domains_manager_path, class: 'btn btn-default btn-lg trigger-response-modal' %>
		<%= link_to content_tag(:i, "", class: "fa fa-user-secret") + ' Security', system_security_path, class: 'btn btn-default btn-lg trigger-response-modal' %>
	</div><br>
	<div class="btn-group top-gap">
		<%= link_to content_tag(:i, "", class: "fa fa-tv") + ' Display', edit_display_settings_path, class: 'btn btn-default btn-lg trigger-response-modal' %>
	</div><br>
	<div class="btn-group top-gap">
		<%= link_to content_tag(:i, "", class: "fa fa-bug") + ' Bug reports', edit_system_bug_reports_path, class: "btn btn-default btn-lg trigger-response-modal" %>
	</div><br>
</div>
