<div class="col-sm-12">
	<h2><%= content_tag(:i, "", class: "fa fa-pie-chart") %> Monitor system</h2>
	<%= link_to content_tag(:i, "", class: "fa fa-arrow-left") + ' Back', control_panel_path, class: "btn btn-warning btn-lg trigger-response-modal" %>
</div>

<div class="col-sm-12 top-gap">
	<legend>System CPU usage</legend>
	<div class="text-center">
		<%= image_tag('/charts/system_cpu_usage') %>
		<%= image_tag('/charts/system_cpu_usage_averages') %>
	</div>
	<legend>System memory usage</legend>
	<div class="text-center">
		<%= image_tag('/charts/total_system_memory_usage') %>
	</div>
	<legend>Container memory usage</legend>
	<div class="text-center">
		<%= image_tag('/charts/total_container_memory_usage') %>
		<%= image_tag('/charts/container_memory_usage') %>
	</div>
	<legend>Applications memory usage</legend>
	<div class="text-center">
		<%= image_tag('/charts/total_applications_memory_usage') %>
		<%= image_tag('/charts/applications_memory_usage') %>
	</div>
	<legend>Services memory usage</legend>
	<div class="text-center">
		<%= image_tag('/charts/total_services_memory_usage') %>
		<%= image_tag('/charts/services_memory_usage') %>
	</div>

</div>
