<div class="col-sm-12">
	<h2><%= content_tag(:i, "", class: "fa fa-dashboard") %> Monitor system</h2>
	<%= link_to content_tag(:i, "", class: "fa fa-arrow-left") + ' Back', info_system_path, class: "btn btn-warning btn-lg trigger-response-modal" %>
</div>

<div class="col-sm-12 top-gap">

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#system" aria-controls="home" role="tab" data-toggle="tab">System</a></li>
    <li role="presentation"><a href="#containers" aria-controls="profile" role="tab" data-toggle="tab">Containers</a></li>
    <li role="presentation"><a href="#applications" aria-controls="messages" role="tab" data-toggle="tab">Applications</a></li>
    <li role="presentation"><a href="#services" aria-controls="settings" role="tab" data-toggle="tab">Services</a></li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="system"><%= render 'monitor_system' %></div>
    <div role="tabpanel" class="tab-pane" id="containers"><%= render 'monitor_containers' %></div>
    <div role="tabpanel" class="tab-pane" id="applications"><%= render 'monitor_applications' %></div>
    <div role="tabpanel" class="tab-pane" id="services"><%= render 'monitor_services' %></div>
  </div>
	
</div>