<div class="col-sm-12">
	<h2><%= content_tag(:i, "", class: "fa fa-pie-chart") %> Monitor system</h2>
	<%= link_to content_tag(:i, "", class: "fa fa-arrow-left") + ' Back', control_panel_path, class: "btn btn-warning btn-lg trigger-response-modal" %>
</div>

<div class="col-sm-12 top-gap">
	<legend>CPUs</legend>
	<div class="text-center">
		<%= image_tag('/charts/system_cpu_usage') %>
		<%= image_tag('/charts/system_cpu_usage_averages') %>
	</div>
	<legend>Disks</legend>
	<div class="text-center">
  	  <%= SystemInfo.otherstuff[:disks].map{ |d| "<p>#{d.type} '#{d.mount}' #{100 - d.available_blocks*100/d.total_blocks}% used</p>" }.join.html_safe %>
  	</div>
	<legend>Nethwork interfaces</legend>
	<div class="text-center">
		<% SystemInfo.otherstuff[:network_interfaces].reject{ |ni| ni[:name].to_s.include?('veth') || ni[:name].to_s.include?('lo') }.map do |ni| %>
			<p><%= ni[:name] %> in/out: <%= "#{ni.in_bytes}/#{ni.out_bytes} bytes" %></p>
		<% end %>
  	</div>
	
	<legend>System memory</legend>
	<div class="text-center">
		<%= image_tag('/charts/total_system_memory_usage') %>
	</div>
	<legend>Container memory</legend>
	<div class="text-center">
		<%= image_tag('/charts/total_container_memory_usage') %>
		<%= image_tag('/charts/container_memory_usage') %>
	</div>
	<legend>Applications memory</legend>
	<div class="text-center">
		<%= image_tag('/charts/total_applications_memory_usage') %>
		<%= image_tag('/charts/applications_memory_usage') %>
	</div>
	<legend>Services memory</legend>
	<div class="text-center">
		<%= image_tag('/charts/total_services_memory_usage') %>
		<%= image_tag('/charts/services_memory_usage') %>
	</div>

</div>
