
	<div class="col-sm-6 pull-right">
		<%= render 'system_actions' %>
	</div>

	<div class="col-sm-6">
		<h2><%= content_tag(:i, "", class: "fa fa-tachometer") %> System</h2>
		<%= link_to content_tag(:i, "", class: "fa fa-arrow-left") + ' Back', control_panel_path, class: "btn btn-warning btn-lg trigger-response-modal" %>
	</div>

<div class="col-sm-12">

    <div class='well top-gap'>
      <label>CPU usage</label>
      <table class="table">
        <tr>
          <th>CPU</th>
          <th>Idle</th>
          <th>User</th>
          <th>System</th>
          <th title="Priority: software with low 'nice' value">Priority</th>
        </tr>
        <% @system_info[:old][:cpu].each do  |cpu|%>
          <tr>
            <% total = cpu.nice + cpu.idle + cpu.system + cpu.user
            idle = cpu.idle.to_f / total.to_f * 100.0
            nice = cpu.nice.to_f  / total.to_f * 100.0
            system = cpu.system.to_f  / total.to_f * 100.0
            user = cpu.user.to_f  / total.to_f * 100.0 %>
            <td><%=cpu.num%></td>
            <td><%=idle.to_i%>%</td>
            <td><%=user.to_i%>%</td>
            <td><%=system.to_i%>%</td>
            <td><%=nice.to_i%>%</td>
          </tr>
        <% end %>
      </table>

      <label>System load averages</label>
      <table class="table">
        <tr>
          <th>1 min</th>
          <th>5 mins</th>
          <th>15 mins</th>
        </tr>
        <tr>
          <%
            one = @system_info[:old][:snapshot].load_average.one_minute
            five =  @system_info[:old][:snapshot].load_average.five_minutes
            fifteen =  @system_info[:old][:snapshot].load_average.fifteen_minutes
          %>
          <td><%= one %></td>
          <td><%= five %></td>
          <td><%= fifteen %></td>
        </tr>
      </table>

        <label>Memory</label>
        <%
          pagesize = (@system_info[:old][:snapshot].memory.pagesize)/1024
          active =  @system_info[:old][:snapshot].memory.active * pagesize
          free =   @system_info[:old][:snapshot].memory.free * pagesize
          inactive =  @system_info[:old][:snapshot].memory.inactive * pagesize
          wired =  @system_info[:old][:snapshot].memory.wired * pagesize
        %>
        <table class="table">
          <tr>
            <th>Swap size</th>
            <th>Free</th>
            <th>Active</th>
            <th>Inactive</th>
            <th>Wired</th>
            <th>Page-ins</th>
            <th>Page-outs</th>
          </tr>
          <tr>
            <td>-</td>
            <td><%= free %></td>
            <td><%= active %></td>
            <td><%= inactive %></td>
            <td><%= wired %></td>
            <% rateout =@system_info[:old][:vm2].pageouts - @system_info[:old][:snapshot].memory.pageouts %>
            <% ratein = @system_info[:old][:vm2].pageins - @system_info[:old][:snapshot].memory.pageins %>
            <td><%= rateout %> </td>
            <td><%= ratein %> </td>
           </tr>
        </table>

    </div>
  </div>

  <%#= (ap @system_info, {html: true, plain: true}).html_safe %>


