<div class="col-sm-6 pull-right">
	<%= render 'system_actions' %>
</div>

<div class="col-sm-6">
	<h2><%= content_tag(:i, "", class: "fa fa-hdd-o") %> System</h2>
	<%= link_to content_tag(:i, "", class: "fa fa-arrow-left") + ' Back', control_panel_path, class: "btn btn-warning btn-lg trigger-response-modal" %>
</div>

<div class="col-sm-12 system_info_body">
	<div class="panel panel-default top-gap">
	  <div class="panel-body">
		Memory: <%= @system_info[:memory] %> bytes<br>
		CPU: <%= @system_info[:cpus] %> cores
	  </div>
	</div>
</div>
