<div class="col-sm-12">
	<h2><%= content_tag(:i, "", class: "fa fa-repeat") %> System update</h2>
	<%= link_to content_tag(:i, "", class: "fa fa-arrow-left") + ' Back', system_path, class: "btn btn-warning btn-lg trigger-response-modal" %>
</div>

<div class="col-sm-12">
  <div>
	<div style="display: inline-block" class="top-gap">
	    <%= link_to content_tag(:i, "", class: "fa fa-level-up") + ' Update Engines system', system_engines_update_path, class: "btn btn-lg btn-default",
			data: {confirm: "Are you sure?", confirmdetail: "Are you sure that you want to update the Engines system software?" } %>
	</div>
	<div style="display: inline-block" class="dropdown top-gap">
	  <button class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown">
	    <strong>v </strong>Engines release
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu">
	    <li class='panel-body'>
			<%= SystemInfo.summary[:engines_release] %>
		</li>
	  </ul>
	</div><br>
    <%= link_to content_tag(:i, "", class: "fa fa-linux") + ' Update base system', system_base_update_path, class: "btn btn-lg btn-default top-gap",
			data: {confirm: "Are you sure?", confirmdetail: "Are you sure that you want to update the base system software?" } %>
  </div>
</div>


