<div class="col-md-12">
	<h2><%= content_tag(:i, "", class: "fa fa-repeat") %> Update</h2>
	<%= link_to content_tag(:i, "", class: "fa fa-arrow-left") + ' Back', system_path, class: "btn btn-warning btn-lg trigger-response-modal" %>
</div>

<div class="col-md-8 col-md-offset-2">
	<div class="panel panel-default top-gap">
	  <div class="panel-body">
	    <%= render 'shared/show/label_and_text', label: 'Engines version', text: SystemInfo.engines_version,
	    		label_width: 4, text_width: 8  %>
	    <%= render 'shared/show/label_and_text', label: 'Base OS version', text: "#{SystemInfo.base_os_data['NAME']} #{SystemInfo.base_os_data['VERSION']}",
	    		label_width: 4, text_width: 8  %>
	  </div>
	</div>
</div>

<div class='row top-gap'>
	<div class="col-md-3 col-md-offset-2">
	    <%= link_to image_tag('engines_icon_40px.png', height: '20') + ' Update Engines', system_engines_update_path, class: "btn btn-lg btn-default",
			data: {confirm: "Are you sure?", confirmdetail: "Are you sure that you want to update the Engines system software?" } %>
	</div>
	<div class="col-md-7">
		<p><small>
		  Update Engines system software.
		</p></small>
	</div>
</div>
<div class='row top-gap'>
	<div class="col-md-3 col-md-offset-2">
    <%= link_to content_tag(:i, "", class: "fa fa-linux") + ' Update base OS', system_base_update_path, class: "btn btn-lg btn-default",
			data: {confirm: "Are you sure?", confirmdetail: "Are you sure that you want to update the base system software?" } %>
	</div>
	<div class="col-md-7">
		<p><small>
		  Update base operating system.
		</p></small>
	</div>
</div>
