<div class="col-sm-12">
	<h2><%= content_tag(:i, "", class: "fa fa-bar-chart") %> Monitor system</h2>
	<%= link_to content_tag(:i, "", class: "fa fa-arrow-left") + ' Back', system_path, class: "btn btn-warning btn-lg trigger-response-modal" %>
</div>

<div class="col-sm-12 top-gap">
	<legend>CPU load</legend>
	<div class="text-center">
		<%= image_tag('/charts/system_cpu_usage') %>
	</div>
	<legend>Queue</legend>
	<div class="text-center">
		<%= image_tag('/charts/system_cpu_usage_averages') %>
	</div>
	<legend>Processes</legend>
	<div class="text-center">
		<%= "James to provide data" %>
  	</div>
</div>


