<div class="col-sm-12">
	<h2><%= content_tag(:i, "", class: "fa fa-pie-chart") %> Monitor system memory</h2>
	<%= link_to content_tag(:i, "", class: "fa fa-arrow-left") + ' Back', system_path, class: "btn btn-warning btn-lg trigger-response-modal" %>
</div>

<div class="col-sm-12 top-gap">
	<legend>System</legend>
	<div class="text-center">
		<%= image_tag('/charts/total_system_memory_usage') %>
	</div>
	<legend>Containers</legend>
	<div class="text-center">
		<%= image_tag('/charts/total_container_memory_usage') %>
		<%= image_tag('/charts/container_memory_usage') %>
	</div>
	<legend>Applications</legend>
	<div class="text-center">
		<%= image_tag('/charts/total_applications_memory_usage') %>
		<%= image_tag('/charts/applications_memory_usage') %>
	</div>
	<legend>Services</legend>
	<div class="text-center">
		<%= image_tag('/charts/total_services_memory_usage') %>
		<%= image_tag('/charts/services_memory_usage') %>
	</div>
</div>
