<div class='control_panel'>
	
	<div class='row'>
		<div class="col-sm-6 pull-right">
			<%= render 'control_panel_service_actions' %>
		</div>
		<div class="col-sm-6">
			<h2><%= content_tag(:i, "", class: "fa fa-server") %> Services</h2>
			<%= link_to content_tag(:i, "", class: "fa fa-arrow-left") + ' Back', control_panel_path, class: "btn btn-warning btn-lg trigger-response-modal" %>
		</div>
	</div>
	
	<div class='row'>
		<% if @services.present? %>
			<% @services.each do |service| %>

				<div class="service control_panel_object", id="<%= service.container_name %>", data-url="<%= control_panel_services_path(service_name: service.container_name) %>">
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
  						<div class="control_panel_object_placeholder">
  							<%= service.container_name %><br>
							<%= content_tag(:i, nil, class: "fa fa-spinner fa-spin") %>
						</div>
					</div>
				</div>
				<div class="placeholder_html" style="display: none;"></div>
				<div class="last_update_html" style="display: none;"></div>
				<div class="this_poll_html" style="display: none;"></div>
				<% end %>
		<% end %>
	</div>
</div>	


