<div class='control_panel'>
	<div class='row'>
		<div class="col-sm-6 pull-right bring-forward">
			<%= render 'control_panel_actions' %>
		</div>
		<div class="col-sm-6">
			<h2><%= content_tag(:i, "", class: "fa fa-tablet") %>&nbspApplications</h2>
		</div>
	</div>
	
	<div class='row'>
		<% if @applications.present? %>
			<% @applications.each do |application| %>
				<div class="application load_control_panel_object", id="<%= application.container_name %>", data-url="<%= control_panel_applications_path(application_name: application.container_name) %>">
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
  						<div class="control_panel_object_placeholder">
  							<%= application.container_name %><br>
							<%= content_tag(:i, nil, class: "fa fa-spinner fa-spin") %>
						</div>
					</div>
				</div>
			<% end %>
		<% else %>
			<div class="col-sm-12">
				No applications.<br><small id="click_on_blue_menu_button_message" style="opacity:0;">
				Click on the menu button
				<%= content_tag :span, (content_tag(:i, "", class: "fa fa-bars") + ' ' + content_tag(:i, "", class: "fa fa-caret-down")).html_safe, id: "blue_menu_button_highlight" %>
				to open the installer.</small>
			</div>
		<% end %>
	</div>

</div>	


