<div class="col-sm-12">
  <h2><%= content_tag(:i, "", class: "fa fa-th") %> Libraries</h2>

  <div class="btn-group">
  <%= link_to content_tag(:i, "", class: "fa fa-arrow-left") + ' Back', installer_path, class: "btn btn-warning btn-lg trigger-response-modal" %>
  <%= link_to content_tag(:i, "", class: "fa fa-plus") + " Add", new_gallery_path, class: "btn btn-primary btn-lg trigger-response-modal" %>
  </div>

  <% if @galleries.present? %>
      <% @galleries.each do |gallery| %>
          <%= render partial: "show", locals: { gallery: gallery } %>
      <% end %>
  <% else %>
      <p class='top-gap'>No libraries.</p>
  <% end %>

  <%= render 'settings' %>

</div>
