<% if @paginated_softwares.softwares.present? %>

	<% @paginated_softwares.softwares.each do |software|  %>

	  <%  software_title = [software[:label], software[:title], software[:name], 'No name'].compact.reject(&:blank?).first
		  software_detail = software[:detail]
		  library_page_url = software[:library_page_url]
		  image_url =
			  if software[:icon_url_from_library].present?
			    software[:icon_url_from_library]
			  elsif software[:icon_url].present?
			    software[:icon_url]
			  else
			    software[:icon_url_from_blueprint]
			  end
		
		  install_url = new_install_from_blueprint_path(
		  						install_from_blueprint: {
									repository_url: software[:repository_url],
									installer_icon_url: image_url },
								software_title: software[:title], 
		  						tags: params[:tags],
								search: params[:search],
								page: params[:page],
								library_id: params[:library_id]) 
		%>

			<div class="col-md-3 install-software-panel">
		    	<a href="<%= install_url %>" class="btn btn-default btn-noborder btn-lg trigger-response-modal" title="Install <%= software_title %>">
				    <div class="engine-install-icon-area">
				        <div class="helper-to-vertical-align-middle"></div><img src="<%= image_url %>" class="engine-install-icon" alt="">
				    </div>
				    <% if software_title.present? %>
				        <div class="engine-install-name"><%= software_title %></div>
				    <% end %>
				    <% if software_detail.present? %>
				        <div class="engine-install-detail"><%= software_detail %></div>
				    <% end %>
		    	</a>
			</div>
	<%end%>

	<div class="col-sm-12">
	  <%= paginate @paginated_softwares, theme: 'twitter-bootstrap-3', params: {controller: "installers", action: "show"} %>
	</div>
	
<% else %>
	<div class="col-sm-12">
		None
	</div>
<%end%>
<% #= (ap @paginated_softwares, index: false, plain: true).html_safe %>
