<%= legend('Icon') %>

<% installer_icon_url = f.object.installer_icon_url 
   blueprint_icon_url = f.object.icon_url_from_blueprint
   select_collection = ['Keep existing icon',
  						('Blueprint icon' if blueprint_icon_url.present?),
  						('Installer icon' if installer_icon_url.present?),
						'Upload icon', 'No icon'].compact
%>

<div id="display_properties_set_icon_radios">
	<%= f.form_input :set_icon, as: :radio_buttons, label: false, select_collection: select_collection %>
</div>

<div class="col-sm-8 col-sm-offset-2">
	<div id="display_properties_existing_icon" class='form-image-control'>
		<div class='form-image-centering'>
			<% if f.object.icon.exists? %>
				<%= image_tag(f.object.send(:icon_url), class: 'form-image', alt: 'Unable to load image.') %>
			<% else %>
				<%= image_tag(url_for("placeholder_for_missing_icon.jpg"), class: 'form-image') %>
		    <% end %>
		</div>
	</div>
	<div id="display_properties_no_icon" class='' style='display: none;'>
	</div>
	<div id="display_properties_blueprint_icon" class='form-image-control' style='display: none;'>
		<div class='form-image-centering'>
			<%= image_tag(blueprint_icon_url, class: 'form-image', alt: 'Unable to load image.') %>
		</div>
	</div>
	<div id="display_properties_installer_icon" class='form-image-control' style='display: none;'>
		<div class='form-image-centering'>
			<% if installer_icon_url.present? %>
			  <%= image_tag(installer_icon_url, class: 'form-image', alt: 'Unable to load image.') %>
			<% end %>
		</div>
	</div>
	<div id="display_properties_upload_icon" class="top-gap" style='display: none;'>
	    <%= f.file_field :icon %>
	    <% errors = f.object.errors[:icon] %>
	    <% if errors.present? %>
	      <div class='form-field-errors'>
	        <% errors.each do |error| %>
	          <%if error.class == Array %>
	            <%= error[1] %>
	          <% else %>
	            <%= error %>
	          <% end %>
	        <% end %>
	      </div>
        <% end %>
	</div>
</div>




