<div class="col-sm-12 top-gap app_installs">
  <h2 class=''><i class='fa fa-desktop'></i> Edit display properties for <%= @application_display_properties.application_name %></h2>
  <%= form_for @application_display_properties,
					url: application_display_properties_path(
  					application_name: @application_display_properties.application_name),
  					method: :patch do |f| %>
    <%= render partial: 'shared/form/errors', locals: {f: f, label: 'display properties'} %>
    <%= render 'shared/form/legend', text: 'Labels' %>
	  <%= render 'shared/form/text_field', name: :title, label: 'Title', tooltip: "The title will display with the icon on the desktop.", f: f %>
	  <%= render 'shared/form/text_area', name: :detail, label: 'Detail', tooltip: "The detail will show in a tooltip when the user hovers over the icon on the desktop.", f: f %>
    <%= render 'icon_field', f: f %>
    <%= render 'shared/form/cancel_and_submit_buttons', f: f, cancel_path: control_panel_path %>
  <% end %>
</div>
