<div class="col-sm-12 backup-tasks">
	<h2><i class="fa fa-upload"></i> All backups</h2>
	<%= link_to content_tag(:i, "", class: "fa fa-arrow-left") + ' Back', control_panel_path, class: "btn btn-warning btn-lg trigger-response-modal" %>

	<div class="top-gap">
		<table class="table table-condensed top-gap">
			<% @softwares.each do |software| %>
			<tr class='clickable-table-row' href='<%= url_for backup_task_path(software.id) %>'>
				<td style="vertical-align: middle;"> <%= software.engine_name %> </td>
				<td style="vertical-align: middle;">
				<div>
					<% bh = software.backup_tasks_handler %>
					<% bh.backupable_services.each do |backupable_service| %>
					<%= backupable_service[:title] %>
					<small>
						<br>
						<%= backupable_service[:description] %>
						(<%= backupable_service[:publisher_namespace].to_s + " " + backupable_service[:type_path].to_s%>)
						<br>
					</small>
					<br>
					<% end %>
				</div></td>
			</tr>
			<% end %>
		</table>
	</div>
</div>
