<h3 class="control-panel-title"><%= content_tag(:i, "", class: "fa fa-upload") %> New Backup Task</h3>

<%= simple_form_for @backup_task do |f| %>

  <%= f.input :source_name, as: :hidden, class: "form-control", input_html: {value: @backup_task.source_name } %>
  <%= f.input :backup_type, as: :hidden, input_html: {value: @backup_task.backup_type }  %>
  <%= f.input :engine_name, as: :hidden, input_html: {value: @backup_task.engine_name }  %>
  <%= f.input :backup_name, input_html: {value: @backup_task.backup_name } %>
  <fieldset>
    <legend>Destination</legend>
    <%= f.input :protocol %>
    <%= f.input :address %>
    <%= f.input :folder %>
    <%= f.input :username %>
    <%= f.input :password %>
    <%= f.button :submit %>
  </fieldset>
<% end %>





    
