<div class="col-sm-12">

  <h2><%= content_tag(:i, "", class: "fa fa-upload") %> New backup for <%= @backup_task.service_handle %></h2>
  <%= @backup_task.publisher_namespace %>/<%= @backup_task.type_path %><br>
  <%= @backup_task.variables.count %>

  <%= form_for @backup_task, url: backup_tasks_path(software_id: @software.id) do |f| %>

    <%= f.hidden_field :type_path %>
    <%= f.hidden_field :publisher_namespace %>
    <%= f.hidden_field :service_handle %>

	<div class="btn-group-vertical top-gap pull-right">
		<button type="button" class="btn btn-default btn-lg" id="show_advanced_fields_button">
			<%= content_tag(:i, '', class: 'fa fa-terminal') %> Advanced
		</button>
	</div>

    <%= render partial: 'shared/form/errors', locals: {f: f, label: 'Backup'} %>
    <%= render partial: 'variables/form_fields', locals: {f: f} %>
    <%= render partial: 'shared/form/cancel_and_submit_buttons', locals: {f: f, cancel_path: backup_task_path(id: @software.id)} %>

  <% end %>
  
</div>