<div class="col-sm-12 top-gap backup-tasks">
  <h3 class="control-panel-title"><i class="fa fa-upload"></i> Backups</h3>
  <%= link_to content_tag(:i, "", class: "fa fa-arrow-left") + ' Back', settings_path, class: "btn btn-warning btn-lg trigger-response-modal" %>

  <% @application_backup_details.keys.each do |engine_name| %>
    <div class="backup-panel">
      <% engine = @application_backup_details[engine_name] %>
      <h3 class="control-panel-title"><%= engine_name %></h3>
      <% engine[:volumes].each do |engine_volume| %>
        <% engine_volume_name = engine_volume[:name] %>
        <p>
          <h4 class="control-panel-title"><i class="fa fa-hdd-o"></i> <%= engine_volume_name %> files</h4>
          <% engine_volume[:backup_tasks].each do |backup_task_id| %>
            <%= link_to content_tag(:i, "", class: "fa fa-trash"), backup_task_path(id: backup_task_id), method: :delete, class: "btn btn-default btn-sm backup-task-action-button trigger-response-modal" %>
            <%= backup_task_id %><br>
          <% end %>
          <%= link_to content_tag(:i, "", class: "fa fa-plus"), new_backup_task_path(backup_task: {source_name: engine_volume_name, engine_name: engine_name, backup_type: "fs"}), class: "btn btn-primary btn-sm backup-task-action-button trigger-response-modal" %><br>
        </p>
      <% end %>
      <% engine[:databases].each do |engine_database| %>
        <% engine_database_name = engine_database[:name] %>
        <p>
          <h4 class="control-panel-title"><i class="fa fa-database"></i> <%= engine_database_name %> database</h4>
          <% engine_database[:backup_tasks].each do |backup_task_id| %>
            <%= link_to content_tag(:i, "", class: "fa fa-trash"), backup_task_path(id: backup_task_id), method: :delete, class: "btn btn-default btn-sm backup-task-action-button trigger-response-modal" %>
            <%= backup_task_id %><br>
          <% end %>
          <%= link_to content_tag(:i, "", class: "fa fa-plus"), new_backup_task_path(backup_task: {source_name: engine_database_name, engine_name: engine_name, backup_type: "db"}), class: "btn btn-primary btn-sm backup-task-action-button trigger-response-modal" %><br>
        </p>
      <% end %>
    </div>
  <% end %>
</div>