<div class="col-sm-12">
  <h2 class=''><i class='fa fa-question'></i> Variables for <%= @application_variables_properties.application_name %></h2>
	<%= form_for @application_variables_properties,
					url: application_variables_properties_path(
					application_name: @application_variables_properties.application_name) do |f| %>
	    <% if @application_variables_properties.variables.present? %>
	  		<%= render partial: 'shared/form/errors', locals: {f: f, label: 'application variables'} %>
 			<%= render partial: 'variables/form_fields', locals: {f: f} %>
		      <%= render partial: 'shared/form/cancel_and_submit_buttons', locals: {f: f, cancel_path: control_panel_path} %>
	    <% else %>
			<%= link_to content_tag(:i, "", class: "fa fa-arrow-left") + ' Back', control_panel_path, class: "btn btn-warning btn-lg trigger-response-modal" %>
	        <h4>This software does not have software variables.<h4>
	    <% end %>

    <% end %>

</div>
