<div class="form-group form-group-lg">
  <div class="col-sm-2">
    <% a = "f.label :#{field[:name]}, '#{(field[:label] || field[:name].to_s.humanize.capitalize)}', class: 'control-label'" %>
    <%= eval a %>
  </div>
  <div class="col-sm-10">
    <% if a.include?("password") %>
      <%= eval "f.password_field :#{field[:name]}, class: 'form-control'" %>
    <% elsif field[:collection] %>
      <%= eval "f.select :#{field[:name]}, #{field[:collection]}, {}, {class: 'form-control'}" %>
    <% else %>
      <%= eval "f.text_field :#{field[:name]}, class: 'form-control'" %>
    <% end %>
  </div>

  <% if a.include?("password")  %>
    <div class="col-sm-2 top-gap">
      <%= f.label :reenter %>
    </div>
    <div class="col-sm-10 top-gap">
      <%= eval "f.password_field :password_confirmation, class: 'form-control'" %>
    </div>
  <% end %>

</div>
