<div class="col-sm-12">

	<div class="panel panel-default top-gap">

		<div class="panel-heading">
			<%= f.object.title %>
			<small>
				<br>
				<%= f.object.description %>
				<br>
			</small>
		</div>

		<div class="panel-body">
			<% select_collection = [
						[:new, "Create new attached service"],
						[:active, "Use existing active attached service"],
						[:orphaned, "Use existing orphaned attached service"]	]
			%>
			<div class="attached_service_select">
				<div class="col-sm-8 col-sm-offset-2 attached_service_text">
				</div>
				<div class="col-sm-12 clearfix">
					<%= link_to content_tag(:i, nil, class:"fa fa-pencil-square-o") + " Edit", "javascript:;",
					class: "btn btn-default btn-lg pull-right installer_configure_attached_service_button" %>
				</div>
			</div>

			<div class="attached_service_select_create_type" style="display: none;">
				<div class="col-sm-12">
					<%= render 'shared/form/radio_buttons', f: f, name: :wizard_create_type, value: f.object.create_type, label: false,
							select_collection: select_collection, value_method: :first, text_method: :last, default_value: :new,
							field_class: "attached_service_select_create_type_radios" %>
				</div>
			</div>

			<div class="attached_service_active_configure" style="display: none;">
				<div class="col-sm-12">
					<%= render 'shared/form/select', f: f, name: :wizard_active_service_handle, label: "Active attached service",
							select_collection: f.object.attachable_active_attached_services,
							select_class: "attached_service_active_configure_select" %>
				</div>
			</div>

			<div class="attached_service_orphan_configure" style="display: none;">
				<div class="col-sm-12">
					<%= render 'shared/form/select', f: f, name: :wizard_orphan_parent_name, label: "Orphaned attached service",
					select_collection: f.object.attachable_orphaned_attached_services,
							select_class: "attached_service_orphan_configure_select" %> 
				</div>
			</div>

			<div class="attached_service_cancel" style="display: none;">
				<div class="col-sm-12 clearfix">
					<%= link_to content_tag(:i, nil, class:"fa fa-times") + " Cancel", "javascript:;",
						class: "btn btn-default btn-lg pull-right attached_service_cancel_button" %>
				</div>
			</div>
			
			<%= f.hidden_field :type_path %>
			<%= f.hidden_field :publisher_namespace %>
			<%= f.hidden_field :title %>
			<%= f.hidden_field :description %>
			<%= f.hidden_field :create_type, class: "create_type_input" %>
			<%= f.hidden_field :service_handle, class: "service_handle_input" %>
			<%= f.hidden_field :parent_engine_name, class: "orphan_parent_name_input" %>

		</div>
	</div>
</div>



