<%= form_for(@install, html: {class: "form-horizontal"}) do |f| %>
  <% if @install.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@install.errors.count, "error") %> prohibited this install from being saved:</h2>

      <ul>
      <% @install.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :gallery_server_name, value: @gallery_server_name %>
  <%= f.hidden_field :gallery_server_url, value: @gallery_server_url %>
  <%= f.hidden_field :blueprint_id, value: @blueprint_id %>

  <fieldset>
    <legend>URL</legend>
    <div class="form-group form-group-lg">
      <div class="col-sm-2">
        <%= f.label :host_name, class: "control-label" %>
      </div>
      <div class="col-sm-10">
        <%= f.text_field :host_name, class: "form-control" %>
      </div>
    </div>
    <div class="form-group form-group-lg">
      <div class="col-sm-2">
        <%= f.label :host_domain, class: "control-label" %>
      </div>
      <div class="col-sm-10">
        <%= f.text_field :host_domain, class: "form-control" %>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>License</legend>
    <div class="col-sm-10 col-sm-offset-2">
      <div class="form-group form-group-lg form-text-lg">
        <%= link_to @license_name, @license_url, target: "_blank" %> 
        <span id="accept-label" class="btn btn-lg btn-default">
          <%= f.check_box :terms_and_conditions_accepted %> Accept
        </span>
      </div>
    </div>
  </fieldset>
  <div class="actions">
    <%= button_tag(type: "submit", class: "btn btn-lg btn-primary") do %>
      <%= content_tag(:i, "", class: "fa fa-plus") + " Install" %>
    <% end %>
  </div>
<% end %>

    
