<%= f.fields_for :install do |ff| %>
  <div class="col-sm-12">
    <legend>License</legend>
  </div>
  <%= render partial: 'shared/form/link', locals: {link_text: ff.object.license_name, label_text: false, url: ff.object.license_sourceurl} %>
  <%= render partial: 'shared/form/checkbox', locals: {name: :license_terms_and_conditions, label: 'Accept', f: ff} %>
  <%= ff.hidden_field :gallery_url %>
  <%= ff.hidden_field :gallery_software_id %>
  <%= ff.hidden_field :default_image_url %>
  <%= ff.hidden_field :repository_url %>
  <%= ff.hidden_field :license_name %>
  <%= ff.hidden_field :license_sourceurl %>
  <%= ff.hidden_field :swframework_name %>
<% end %>
