<div class="software_installation_form">

  <div class="col-sm-12 top-gap">
    <h3 class="control-panel-title"><%= content_tag(:i, "", class: "fa fa-plus-square") %> Install <%= @software.display.display_name %></h3>
  </div>

  <div class="col-sm-12">
    <div class="col-sm-2 top-gap">
      <%= render partial: 'shared/form/image', locals: {url: @software.install.default_image_url} %>
    </div>

    <div class="col-sm-6 top-gap">
      <%= @software.display.display_description %>
    </div>

    <div class="col-sm-4 top-gap clearfix">
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default btn-lg" id="new_software_form_show_advanced_fields_button">
          <%= content_tag(:i, '', class: 'fa fa-code') %> Advanced install
        </button>
      </div>
    </div>
  </div>    

  <div class="col-sm-12 top-gap">
    <%= form_for @software, url: installs_path do |f| %>

      <%= render partial: 'shared/form/errors', locals: {f: f} %>

      <div class="new_software_form_default_details">
        <div class="col-sm-12">
          <legend>URL</legend>
        </div>
        <%= render partial: 'shared/form/text', locals: {text: (f.object.network.host_name.to_s + '.' + f.object.network.domain_name.to_s)} %>
      </div>

      <div class="new_software_form_advanced_fields">
        <%= render partial: 'softwares/form_fields', locals: {f: f} %>
        <%= render partial: 'displays/form_fields', locals: {f: f} %>
        <%= render partial: 'networks/form_fields', locals: {f: f} %>
        <%= render partial: 'resources/form_fields', locals: {f: f} %>
        <%= render partial: 'software_variables/form_fields', locals: {f: f} %>
      </div>

      <%= render partial: 'form_fields', locals: {f: f} %>

      <%= render partial: 'shared/form/cancel_and_submit_buttons', locals: {f: f, cancel_path: installer_path, submit_label: 'Install'} %>

    <% end %>
  </div>

</div>