<p id="notice"><%= notice %></p>

<p>
  <strong>Display name:</strong>
  <%= @install.display_name %>
</p>

<p>
  <strong>Display description:</strong>
  <%= @install.display_description %>
</p>

<p>
  <strong>Blueprint:</strong>
  <%= @install.blueprint %>
</p>

<%= link_to 'Edit', edit_install_path(@install) %> |
<%= link_to 'Back', installs_path %>
