<% if @blueprint.present? %> 

	<%
	  license_name = @blueprint["software"]["license_name"]
	  license_url = @blueprint["software"]["license_sourceurl"]
	  memory = @blueprint["software"]["requiredmemory"]		   
	   
	  dbname=""
	  volumename=""
	  dbuser=""
	  createdb_user=true
	  dbpasswd=""
	  createdb=true
	  volume_names = Array.new
    services = @blueprint["software"]["softwareservices"]
  %>

	<% services.each do |service|
	 		if service["servicetype_name"] == "mysql"
	 			dbname = service["name"]
	 			p "dbname " 
	 			p dbname
	 		elsif service["servicetype_name"] == "filesystem"
	 			volume_name =  service["name"]
	 			volume_names.push(volume_name)
	 			p " vol " 
	 			p volume_name
	 		end
	 	end
  %> 
  <%#= simple_form_for @gallery, url: , html: {class: 'form-horizontal' }) do |form| %>
	<%= form_tag({controller: "galleries", action: "install_from_blueprint"}, method: "post") do %>
		<%= hidden_field_tag :blueprints_gallery, @gallery %>
		<br>
		<div class="col-sm-12">
		  <fieldset>
				<legend>Host</legend>
				<%# = f.input :first_name, label: "First Name", class: "form-control" %>
			  <%= label_tag(:host_name, "Hostname Name" )%>
				<%= text_field_tag(:host_name) %> [a-z0-9_] are allowed, size between 4 and 30<br>
			  <%= label_tag(:domain_name, "Domain Name" )%>
			  <%= text_field_tag(:domain_name) %> no preceeding .
			</fieldset>
			<%= label_tag(:license, "I agree to the terms of the license" )%>
			<a href=<%= license_url %>><%= license_name %></a>
		 	<%= check_box_tag(:license) %><br>
	  	<%= submit_tag("Install Software", class: "btn btn-primary top-gap") %>
			<a class="btn btn-default top-gap pull-right" data-toggle="modal" data-target="#modal-advanced-install">
			  <%= content_tag(:i, "", class: "fa fa-info") %> Advanced
			</a>
	  </div>

		<!-- Modal -->
		<div class="modal fade" id="modal-advanced-install" tabindex="-1" role="dialog" aria-labelledby="modal-advanced-installLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel"><%= content_tag(:i, "", class: "fa fa-info") %> Advanced</h4>
		      </div>
		      <div class="modal-body">

					  <fieldset>
							<legend>Environment Variables</legend>
							This section is not supported yet.
						</fieldset>

					  <fieldset>
							<legend>Advanced Options</legend>
							<%= label_tag(:memory, "Memory" )%>
							<%= text_field_tag(:memory, memory) %><br>
							<%= label_tag(:self_starts, "Self Starts" )%>
							<%= check_box_tag(:self_starts,"1", false) %>
						</fieldset>

					  <fieldset>
							<legend>DNS</legend>
							<%= label_tag(:monitor_site, "Enable Monitor" )%>
							<%= check_box_tag(:monitor_site) %>
							<%= label_tag(:register_dns, "Register DNS" )%>
							<%= check_box_tag(:register_dns) %>
						</fieldset>

					  <fieldset>
							<legend>Database Settings</legend>
							<%= label_tag(:dbhost, "Database Host" )%>
							<%= text_field_tag(:dbhost,SysConfig.DBHost) %><br>
							<%= label_tag(:dbname, "Database Name" )%>
							<%= text_field_tag(:dbname,dbname) %><br>
							<%= label_tag(:createdb, "Create DB" )%>
							<%= check_box_tag(:createddb,"1", true) %><br>
							<%= label_tag(:dbuser, "Database User" )%>
							<%= text_field_tag(:dbuser,dbuser) %>*<br>
							<%= label_tag(:createdb_user, "Create DB User" )%>
							<%= check_box_tag(:createdb_user,"1", true) %><br>
							<%= label_tag(:dbpasswd, "Database User Password" )%>
							<%= text_field_tag(:dbpasswd) %><br>
							*leave blank for system created 
						</fieldset>

						<% if  volume_names.length > 0%>
							<fieldset>
					 			<legend>Volume Settings</legend>
								<% volume_names.each do |volume_name| %>
									<%= label_tag(:vol_src, "Source" )%>
									<%= text_field_tag(:vol_src) %>*
									<%=volume_name %>
								<% end %>  
								*leave blank for system default 
							</fieldset>
				  	<%end%>

				  	<fieldset>
							<legend>Additional Volumes</legend>
							<%= label_tag(:new_vol_src, "Source" )%>
							<%= text_field_tag(:new_vol_src)%><br>
							<%= label_tag(:new_vol_dest, "Destination" )%>
							<%= text_field_tag(:vol_dest)%><br>
							<%= label_tag(:new_vol_rw_permission,"Write Access") %>
							<%= check_box_tag(:new_vol_rw_permission) %>
					
				  	<fieldset>
							<legend>Web Protect</legend> 
							Current Users
							Availiable Users
							<%= label_tag(:add_web_user, "New User" )%>
							<%= text_field_tag(:add_web_user) %><br>
							Group<br>
							<%= text_field_tag(:add_web_group) %>
							<%= label_tag(:add_web_group, "Add New Group" )%><br>
						</fieldset>

				  	<fieldset>
							<legend>Firewall</legend>
							Configured Subnets/hosts
							New Subnet or host
							<%= text_field_tag(:subnet) %>
							<%= label_tag(:subnet, "Add" )%>
						</fieldset>

			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>

			    </div>
			  </div>
			</div>
		</div>					
  <% end %>  

<% else %>
	<p>Missing blueprint</p>
<% end %>