<div class="col-sm-12 attach_service_fields">

	<div class="panel panel-default top-gap">

		<div class="panel-heading">
			<%= f.object.title %>
			<small>
				<br>
				<%= f.object.description %>
				(<%= f.object.publisher_namespace.to_s + " " + f.object.type_path.to_s%>)
				<br>
			</small>
		</div>

		<div class="panel-body">

			
				<%= f.hidden_field :type_path %>
				<%= f.hidden_field :publisher_namespace %>
				<%= f.hidden_field :title %>
				<%= f.hidden_field :description %>
				<% #= f.hidden_field :software_id, value: @software.id %>
			
				<%= render partial: 'variables/form_fields', locals: {f: f} %>
				
				<div class="col-sm-12 clearfix">
					<%= render 'shared/form/hidden_field', name: :_destroy, f: f %>
					<%= link_to content_tag(:i, nil, class:"fa fa-trash"), "javascript:;", onclick: "javascript: remove_fields(this); ",
					class: "btn btn-default btn-lg pull-right",
					data: { confirm: "Are you sure?", confirmdetail: "Remove attached service.", holderclass: "attach_service_fields" } %>
				</div>
			
		</div>
	</div>
</div>