<% select_collection = f.object.select_collection
  f.object.select_collection = ActiveSupport::JSON.encode(select_collection) if select_collection.class != String %>

<%= render partial: 'shared/form/hidden_field', locals: {f: f, name: :name} %>
<%= render partial: 'shared/form/hidden_field', locals: {f: f, name: :field_type} %>
<%= render partial: 'shared/form/hidden_field', locals: {f: f, name: :label} %>
<%= render partial: 'shared/form/hidden_field', locals: {f: f, name: :comment} %>
<%= render partial: 'shared/form/hidden_field', locals: {f: f, name: :regex_validator} %>
<%= render partial: 'shared/form/hidden_field', locals: {f: f, name: :regex_invalid_message} %>
<%= render partial: 'shared/form/hidden_field', locals: {f: f, name: :mandatory} %>
<%= render partial: 'shared/form/hidden_field', locals: {f: f, name: :ask_at_build_time} %>
<%= render partial: 'shared/form/hidden_field', locals: {f: f, name: :build_time_only} %>
<%= render partial: 'shared/form/hidden_field', locals: {f: f, name: :immutable} %>
<%= render partial: 'shared/form/hidden_field', locals: {f: f, name: :tooltip} %>
<%= render partial: 'shared/form/hidden_field', locals: {f: f, name: :hint} %>
<%= render partial: 'shared/form/hidden_field', locals: {f: f, name: :placeholder} %>
<%= render partial: 'shared/form/hidden_field', locals: {f: f, name: :select_collection} %>
<%= render partial: 'shared/form/hidden_field', locals: {f: f, name: :skip_validations, input_class: :skip_validation_input} %>

<%
field_type = f.object.field_type.present? ? f.object.field_type : 'text_field'
name = f.object.name
label = f.object.label.present? ? f.object.label : f.object.name.humanize
comment = f.object.comment
hint = f.object.hint
tooltip = f.object.tooltip
value = f.object.value
decoded_select_collection = f.object.select_collection == '' ? nil : decode_json(f.object.select_collection)
mandatory = f.object.mandatory.to_s
mandatory = (mandatory == "true")
placeholder = f.object.placeholder
errors = f.object.errors[name]
field_class = mandatory ? "" : "advanced_fields"

%>
<div class="row <%= field_class %>">

    <div class="">
	  <% if field_type == 'text_area' %>
	    <%= render partial: 'shared/form/text_area', locals: {name: :value, errors: errors, label: label, placeholder: placeholder, tooltip: tooltip, comment: comment, hint: hint, value: value, f: f} %>
	  <% elsif field_type == 'checkbox' || field_type == 'boolean' %>
	    <%= render partial: 'shared/form/checkbox', locals: {name: :value, errors: errors, label: label, tooltip: tooltip, comment: comment, hint: hint, value: value, f: f} %>
	  <% elsif field_type == 'select_radio' || field_type == 'radio_buttons' %>
	    <%= render partial: 'shared/form/radio_buttons', locals: {name: :value, errors: errors, label: label, placeholder: placeholder, collection: decoded_select_collection, tooltip: tooltip, comment: comment, hint: hint, value: value, f: f} %>
	  <% elsif field_type == 'select' || field_type == 'select_single' %>
	    <%= render partial: 'shared/form/select', locals: {name: :value, errors: errors, label: label, placeholder: placeholder, collection: decoded_select_collection, tooltip: tooltip, comment: comment, hint: hint, value: value, f: f} %>
	  <% elsif field_type == 'country_select' %>
	    <%= render partial: 'shared/form/country_select', locals: {name: :value, errors: errors, label: label, placeholder: placeholder, collection: decoded_select_collection, tooltip: tooltip, comment: comment, hint: hint, value: value, f: f} %>
	  <% elsif field_type == 'select_multi' %>
	    <%= render partial: 'shared/form/select_multi', locals: {name: :value, errors: errors, label: label, placeholder: placeholder, collection: decoded_select_collection, tooltip: tooltip, comment: comment, hint: hint, value: value, f: f} %>
	  <% elsif field_type == 'password_with_confirmation' %>
	    <%= render partial: 'shared/form/password_with_confirmation', locals: {name: :value, errors: errors, label: label, placeholder: placeholder, tooltip: tooltip, comment: comment, hint: hint, value: value, f: f} %>
	  <% elsif field_type == 'password' %>
	    <%= render partial: 'shared/form/password', locals: {name: :value, errors: errors, label: label, placeholder: placeholder, tooltip: tooltip, comment: comment, hint: hint, value: value, f: f} %>
	  <% elsif field_type == 'hidden' || field_type == 'hidden_field' %>
	    <%= f.hidden_field :value %>
	  <% else %>
      <%= render partial: 'shared/form/text_field', locals: {name: :value, errors: errors, label: label, placeholder: placeholder, tooltip: tooltip, comment: comment, hint: hint, value: value, f: f} %>
	  <% end %>
  </div>

</div>
