<%= f.fields_for :application do |ff| %>

<div class="row advanced_fields">

    <%= render 'shared/form/legend', text: 'Engine' %>
	<%= render partial: 'shared/form/text_field', locals: {name: :container_name, label: 'Name', tooltip: "Give the software installation a unique name.", f: ff, hint: "maximum length is 16 characters"} %>
	<%= ff.fields_for :network_properties do |fff| %>
		<%= render 'network_properties/form_fields', f: fff %>
	<% end %>
	<%= ff.fields_for :resources_properties do |fff| %>
		<%= render 'resources_properties/form_fields', f: fff %>
	<% end %>
	<% if ff.object.application_services.present? %>
	    <%= render 'shared/form/legend', text: 'Services' %>
		<%= ff.fields_for :application_services do |fff| %>
			<%= render 'application_service', f: fff %>
		<% end %>
	<% end %>

</div>

	<% if ff.object.variables.present? %>
		<div class="row <%= 'advanced_fields' if !f.object.mandatory_fields_present? %>">
		    <%= render 'shared/form/legend', text: 'Application variables' %>
		</div>
	    <%= render 'variables/form_fields', f: ff %>
	<% end %>

<% end %>
