<%
  active_menu_item = :control_panel
  if (params[:controller] == 'installs')
    active_menu_item = :installer
  end
  if (params[:controller] == 'users') ||
     (params[:controller] == 'backup_tasks') ||
     (params[:controller] == 'galleries') ||
     (params[:controller] == 'domains') ||
     (params[:controller] == 'settings')
    active_menu_item = :settings
  end
  if (params[:controller] == 'pages' && params[:action] == 'system')
    active_menu_item = :system
  end
  if (params[:controller] == 'pages' && params[:action] == 'help')
    active_menu_item = :help
  end
%>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to (image_tag("engines_icon.png", class: "nav_bar_launcher_icon") + " Engines desktop"), desktop_path, class: 'trigger-response-modal' %>
        </li>
        <li class="<%= 'active' if active_menu_item == :control_panel %>">
          <%= link_to content_tag(:i, "", class: "fa fa-cogs") + " Control panel", control_panel_path, class: 'trigger-response-modal' %>
        </li>
        <li class="<%= 'active' if active_menu_item == :installer %>">
          <%= link_to content_tag(:i, "", class: "fa fa-plus") + " Installer", installer_path, class: 'trigger-response-modal' %>
        </li>
        <li class="<%= 'active' if active_menu_item == :settings %>">
          <%= link_to content_tag(:i, "", class: "fa fa-wrench") + " Settings", settings_path, class: 'trigger-response-modal' %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="<%= 'active' if active_menu_item == :system %>">
          <%= link_to content_tag(:i, "", class: "fa fa-dashboard") + " System", system_path, class: 'trigger-response-modal' %>
        </li>
        <li class="<%= 'active' if active_menu_item == :help %>">
          <%= link_to content_tag(:i, "", class: "fa fa-question") + " Help", help_path, class: 'trigger-response-modal' %>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= content_tag(:i, "", class: "fa fa-user") %> <%= current_user.email %><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to (content_tag(:i, "", class: "fa fa-sign-out") + " Sign out"), destroy_user_session_path, class: 'trigger-response-modal', :method => :delete %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>