<% active_menu_item = case
  when params[:controller] == 'desktops'
      :desktop
    when params[:controller] == 'systems', params[:controller] == 'system_securities', params[:controller] == 'system_securities',
    		params[:controller] == 'domains', params[:controller] == 'domain_settings', params[:controller] == 'domains_managers',
    		params[:controller] == 'display_settings', params[:controller] == 'system_settings', params[:controller] == 'system_engines_update',
    		params[:controller] == 'system_bug_reports', params[:controller] == 'display_settings', params[:controller] == 'services_registries',
    		params[:controller] == 'system_security_keys', params[:controller] == 'system_security_certificates', params[:controller] == 'users'
      :system
    else
      :control_panel
    end
%>

<% if user_signed_in? %>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse">
	        <span class="sr-only">Toggle navigation</span>
	        <i class="fa fa-caret-down"></i>
	      </button>
	      <%= link_to image_tag("engines_icon.png", class: "navbar-icon"), root_path, class: 'trigger-response-modal navbar-brand' %>
		  <div id="status_message_area_when_menu_collpased">
    	  </div>
	    </div>

	    <div class="collapse navbar-collapse" id="main-navbar-collapse">
	      <ul class="nav navbar-nav">
	        <li class="<%= 'active' if active_menu_item == :desktop %>">
				<%= link_to content_tag(:i, "", class: "fa fa-desktop"), desktop_path, title: 'Desktop', class: 'trigger-response-modal' %>
	        </li>
	        <li class="dropdown <%= 'active' if active_menu_item == :control_panel %>">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" title='Control panel'><%= content_tag(:i, "", class: "fa fa-cogs") %> Control panel <span class="caret"></span></a>
	          <ul class="dropdown-menu">
			    <li>
		       	  <%= link_to content_tag(:i, "", class: "fa fa-tablet") + " Applications", control_panel_path, class: 'trigger-response-modal' %>
			    </li>
          <li>
		       	  <%= link_to content_tag(:i, "", class: "fa fa-server") + " Services", services_control_panel_path, class: 'trigger-response-modal' %>
			    </li>
          <li class="divider"></li>
			    <li>
		       	  <%= link_to content_tag(:i, "", class: "fa fa-play-circle-o") + " Installer", installer_path, class: 'trigger-response-modal' %>
			    </li>
          <li>
				      <%= link_to (content_tag(:i, nil, class: "fa fa-history") + ' Last install'),
				              installing_application_installation_path,
				              class: 'trigger-response-modal' %>
	        </li>
        </ul>
	        </li>
	        <li class="dropdown <%= 'active' if active_menu_item == :system %>">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" title='System'><%= content_tag(:i, "", class: "fa fa-cloud") %> System <span class="caret"></span></a>
	          <ul class="dropdown-menu">
				<li>
					<%= link_to content_tag(:i, '', class: 'fa fa-globe') + ' Domains', domains_manager_path, class: 'trigger-response-modal' %>
				</li>
				<li>
					<%= link_to content_tag(:i, "", class: "fa fa-user-secret") + ' Security', system_security_path, class: 'trigger-response-modal' %>
				</li>
				<li>
					<%= link_to content_tag(:i, "", class: "fa fa-th") + ' Libraries', galleries_path, class: 'trigger-response-modal' %>
				</li>
        <li>
					<%= link_to content_tag(:i, "", class: "fa fa-tv") + ' Display', edit_display_settings_path, class: 'trigger-response-modal' %>
				</li>
				<li>
					<%= link_to content_tag(:i, "", class: "fa fa-bug") + ' Bug reports', edit_system_bug_reports_path, class: "trigger-response-modal" %>
				</li>
				<li class="divider"></li>
				<li>
					<%= link_to content_tag(:i, "", class: "fa fa-bar-chart") + ' Monitor', monitor_system_path, class: 'trigger-response-modal' %>
				</li>
			    <li>
		       	  	<%= link_to content_tag(:i, "", class: "fa fa-arrows") + " Registry", services_registry_path, class: 'trigger-response-modal' %>
			    </li>
				<li>
					<%= link_to content_tag(:i, "", class: "fa fa-file-text-o") + ' Logs', logs_system_path, class: 'trigger-response-modal' %>
				</li>
				<li>
					<%= link_to content_tag(:i, "", class: "fa fa-heartbeat") + ' Status', status_system_path, class: 'trigger-response-modal' %>
				</li>
				<li>
					<%= link_to content_tag(:i, "", class: "fa fa-linux") + ' Base OS', base_system_system_path, class: 'trigger-response-modal' %>
				</li>
				<li class="divider"></li>
				<li>
					<%= link_to content_tag(:i, "", class: "fa fa-repeat") + ' Update', updater_system_path, class: 'trigger-response-modal' %>
				</li>
			  	<li>
			      <%= link_to (content_tag(:i, nil,class: "fa fa-refresh") + " Restart"), restart_system_path %>
			  	</li>
	          </ul>
	        </li>
	        <li id="status_message_area_when_menu_not_collpased">
	        	<%= render 'layouts/navbar_system_status' %>
	        </li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
			<li>
				  <% link_body = content_tag(:i, '', class: 'fa fa-question').html_safe %>
				  <%= link_to link_body, help_path(lookup: "#{params[:controller]}.#{params[:action]}.help"), data: {toggle: 'modal', target: '#help_modal'}, title: 'Help' %>
			</li>
	        <li class="dropdown">
	          <a id="navbar_user_menu_toggle" href="#" class="dropdown-toggle" data-toggle="dropdown">
	          	<%= content_tag(:i, '<span class="caret"></span>'.html_safe, class: "fa fa-user navbar_user_icon") %>
	          </a>
	          <ul class="dropdown-menu" role="menu">
	    		<li>
				  <% link_body = (content_tag(:i, '', class: 'fa fa-cog') + ' ' + current_user.email).html_safe %>
				  <%= link_to link_body, user_path, class: 'trigger-response-modal' %>
		        </li>
	            <li class="divider"></li>
				<li>
					<%= link_to (content_tag(:i, "", class: "fa fa-sign-out") + " Sign out"),
						destroy_user_session_path,
						class: 'trigger-response-modal', :method => :delete %>
				</li>
	          </ul>
	        </li>
	      </ul>
	    </div>
	  </div>
	</nav>

<% else %>

  <% if @display_settings.icon.present? || @display_settings.show_desktop_signin %>
    <nav class="navbar user_signed_out navbar-default navbar-fixed-top" role="navigation">
    	<div class="container-fluid">
        <% if @display_settings.icon.present? %>
    		  <%= link_to image_tag(@display_settings.icon.url(:default), class: "navbar-icon"), root_path, class: 'trigger-response-modal navbar-brand' %>
        <% end %>
    		<div class="pull-right">
          <% if @display_settings.show_desktop_signin %>
            <%= render 'layouts/navbar_sign_in' %>
          <% end %>
    		</div>
    	</div>
    </nav>
  <% end %>

<% end %>

<!-- Help modal -->
<div class="modal fade" id="help_modal" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Loading help</h4>
      </div>
      <div class="modal-body">
		<p class="text-center"><%= content_tag(:i, nil, class: "fa fa-spinner fa-spin") %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
