<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title || 'Engines' %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: 'layouts/navbar' %>
<div id="content" class="navbar-buffer">
  <%= render partial: 'layouts/prominent_system_label' %>
  <%= render partial: 'shared/flash_messages' %>
  <div class="container">
    <div class="row">
      <%= yield %>
    </div>
  </div>
</div>

<div id="footer">
<%= @system_status ||= 'no_system_status' %>
</div>

<%= render partial: 'shared/waiting_for_response' %>
<%= render partial: 'shared/confirmation_popup' %>

</body>
</html>
