<!DOCTYPE html>

<% if @display_settings.wallpaper.exists? %>
  <html style="<%= "background: " + @display_settings.background_color + " url(" + @display_settings.wallpaper.url + ") no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: 100% 100%;" %>">
<% else %>
  <html style="background-color: <%= @display_settings.background_color %>">
<% end %>

<head>
  <title><%= @page_title || 'Engines desktop' %></title>
  <% if @display_settings.icon.present? %>
    <%= favicon_link_tag @display_settings.icon.url(:default) %>
  <% else %>
    <%= favicon_link_tag%>
  <% end %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render partial: 'layouts/navbar' %>

	<div id="content" class="<%= 'navbar-buffer' if ( @display_settings.icon.present? || @display_settings.show_desktop_signin ) %>">
    <%= render partial: 'layouts/prominent_system_label' %>
	  <%= render partial: 'shared/flash_messages' %>
	  <div class="container-fluid">
	    <div class="row">
	      <%= yield %>
	    </div>
	  </div>
	</div>

  <div id="footer"></div>

<%= render partial: 'shared/waiting_for_response' %>

</body>
</html>
