<!DOCTYPE html>

<% if @display_settings.wallpaper.exists? %>
  <html style="<%= "background: " + @display_settings.background_color + " url(" + @display_settings.wallpaper.url + ") no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: 100% 100%;" %>">
<% else %>
  <html style="background-color: <%= @display_settings.background_color %>">
<% end %>

<head>
  <title><%= @page_title || 'Engines desktop' %></title>
  <% if @display_settings.icon.present? %>
    <%= favicon_link_tag @display_settings.icon.url(:default) %>
  <% else %>
    <%= favicon_link_tag%>
  <% end %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render partial: 'layouts/navbar' %>

<%
  display_icon = @display_settings.icon_size != 'Hide' && @display_settings.icon.present?
  display_sign_in = @display_settings.show_desktop_signin && !user_signed_in?
%>

	<div id="content" class="desktop-navbar-buffer <%= 'desktop-navbar-visible' if display_icon || display_sign_in %> <%= user_signed_in? ? 'user-signed-in' : 'user-signed-out' %>">
    <%= render partial: 'layouts/prominent_system_label' %>
	  <%= render partial: 'shared/flash_messages' %>
    <% display_icon = @display_settings.icon_size != 'Hide' && @display_settings.icon.present?
       display_sign_in = @display_settings.show_desktop_signin && !user_signed_in?
       if display_icon || display_sign_in %>
        <div class="desktop-navbar <%= user_signed_in? ? 'user-signed-in' : 'user-signed-out' %>">
        	<div class="container-fluid">
            <% if display_icon %>
        		  <%= link_to image_tag(@display_settings.icon.url(@display_settings.icon_size.downcase), class: "desktop-navbar-icon"), root_path, class: 'trigger-response-modal navbar-brand' %>
            <% end %>
        		<div class="pull-right">
              <% if display_sign_in %>
                <%= render 'layouts/navbar_sign_in' %>
              <% end %>
        		</div>
        	</div>
        </div>
      <% end %>
   </div>



	  <div class="container-fluid">
	    <div class="row">
	      <%= yield %>
	    </div>
	  </div>
	</div>

  <div id="footer"></div>

<%= render partial: 'shared/waiting_for_response' %>

</body>
</html>
