<% if node.present?
top_level = true if top_level.nil?
delete = false if delete.nil?
%>
<ul>
	<% node.children.sort_by(&:name).each do |child_node|
	has_children = child_node.children.present? %>
	<li style="<%= top_level ? '' : 'display: none;' %>">
		<span class="<%= has_children ? 'btn btn-lg btn-default' : 'btn-lg-placeholder' %>"> <%= (content_tag(:i, nil, class: 'fa fa-caret-right') + ' ') if has_children %>
			<%= child_node.name %> </span>
		<% content = child_node.content %>
		<% if delete && !has_children  %>
			<%= link_to (content_tag(:i, nil, class: "fa fa-trash") + ' Delete'),
			orphaned_application_service_path(service: (content if content.class == Hash)), method: :delete,
			class: 'btn btn-default btn-lg pull-right',
			data: { confirm: "Confirm", confirmdetail: "Are you sure that you want to delete this orphaned attached service?" } %>
		<% end %>
		<% if content.class == Hash %>
		<%= (ap JSON.parse(content.to_json), plain: true, index: false).html_safe %>
		<% else %>
		<div style="height: 20px;">
			&nbsp
		</div>
		<!-- <pre class="well"><%= content %></pre> -->
		<% end %>
		<% if has_children %>
		<%= render 'tree_node', node: child_node, top_level: false, delete: delete %>
		<% end %>
	</li>
	<% end %>
</ul>
<% end %>